@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.began {
    display: flex;
    gap: 20px;
    background-color: #f5f5f5;
    height: 85px;
    padding-top: 27px;
    padding-left: 18%;
    margin-left: -10px;
    width: 100%;
    margin-top: -10px;
}

.news,
.accounts,
.help,
.about,
.connectionlink {
    font-size: 17px;
}

.mood {
    margin-left: 30%;
}

.backmood {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 3px solid orange;
    box-shadow: 10px 5px 5px orange;
}

.ri-menu-5-fill,
.gamename1,
.ri-user-line,
.hiddenlist {
    display: none;
}

.ri-sun-line {
    color: orange;
    font-size: 20px;
}

.button {
    margin-left: 15px;
}

.entry {
    background-color: orange;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 3px solid orange;
}

.note {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 100px;
    margin-left: 10px;
    height: 30px;
    border: 3px solid black;
}

.texthidden {
    border: none;
    width: 100px;
    margin-top: -15px;
    padding-left: 23px;
    color: white;
    background-color: orange;
    height: 20px;
    margin-left: 62.2%;
    position: relative;
    z-index: 1;
    padding-top: -10px;
    top: 31px;
    font-weight: 900;
    display: none;
}

.ri-corner-right-up-fill {
    margin-left: 64%;
    position: relative;
    top: 38px;
    font-size: 26px;
    color: orange;
    font-weight: 900;
    display: none;
}

.hiddensearce {
    position: absolute;
    z-index: 2;
    background-color: palegoldenrod;
    color: black;
    min-height: 60px;
    max-height: 170px;
    width: 269px;
    left: 39.2%;
    border-radius: 15px;
    top: 182px;
    display: block;
    overflow: auto;
    display: none;
}


::-webkit-scrollbar {
    background-color: orange;
    width: 8px;
}

.header {
    padding-left: 20%;
    background-color: white;
    display: flex;
    padding-top: 40px;
    margin-left: -10px;
    width: 1843px;
}

.gamename {
    color: orange;
    font-size: 45px;
    margin-left: -65px;
    margin-top: 5px;
}

.searce {
    margin-left: 10%;
    width: 250px;
    height: 50px;
    border: 3px solid orange;
    border-radius: 10px;
    color: black;
    outline: none;
    padding-left: 10px;
    margin-left: 20%;
}

.searcebtn {
    height: 30px;
    background-color: orange;
    color: white;
    border-radius: 20px;
    border: 3px solid orange;
    width: 30px;
    margin-left: -45px;
    margin-top: 12px;
}

.searcebtn,
.facebook,
.instagram,
.services1 {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.searcebtn:hover,
.facebook:hover,
.instagram:hover,
.services1:hover {
    transform: rotate(360deg);
}

input {
    box-shadow: 10px 5px 5px orange;
}

.searcebtn,
.facebook,
.instagram,
.services1 {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.searcebtn,
.facebook,
.instagram,
.services1 {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.searcebtn:hover,
.facebook:hover,
.instagram:hover,
.services1:hover {
    transform: rotate(360deg);
}

.player {
    margin-left: 18%;
}

.playerbtn,
.balancebtn,
.gamename {
    transition: transform 0.5s ease;
    box-shadow: 10px 5px 5px orange;
}

.playerbtn:hover,
.balancebtn:hover,
.gamename:hover {
    transform: rotate(360deg);
}

.playerbtn:hover {
    background-color: orange;
    color: white;
}

.playerbtn:hover .ri-shopping-basket-fill {
    color: white;
}

.playerbtn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid orange;
    color: black;
    background-color: white;
}

.ri-shopping-basket-fill {
    font-size: 20px;
    margin-left: -50px;
    color: orange;
}

.balancebtn:hover .ri-add-line {
    color: white;
}

.balancebtn:hover {
    background-color: orange;
    color: white;
}

.main {
    padding-left: 17%;
    border: none;
    background-color: white;
    display: flex;
    color: black;
    margin-left: -10px;
    width: 1911px;
}

.category {
    width: 250px;
    height: 50px;
    border: 3px solid orange;
    background-color: orange;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 19px;
}

.games {
    width: 242.5px;
    margin-left: 16.5%;
    margin-top: 0%;
    height: 135px;
    overflow: auto;
    position: absolute;
    z-index: 2;
    display: none;
    background-color: white;
    border: 3px solid orange;
}

.balancebtn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid orange;
    color: black;
    background-color: white;
    margin-left: 15px;
}

.ri-add-line {
    font-size: 25px;
    margin-left: -70px;
    color: orange;
}

.home {
    margin-left: 10%;
    font-size: 20px;
    margin-top: 12px;
}

.game,
.payy,
.rule,
.aboutme,
.connection {
    margin-left: 5%;
    font-size: 20px;
    margin-top: 12px;
}

a {
    text-decoration: none;
    font-size: 20px;
    transition: 0.6s;
    color: black;
}

a:hover {
    color: orange;
    position: relative;
    top: -5px;
    transition: 0.6s;
}


.ri-shopping-cart-fill,
.ri-bank-line,
.ri-question-line {
    color: white;
    font-size: 30px;
    margin-left: 22px;
    margin-top: 14px;
}

.gamessell1 {
    border: none;
    width: 1525px;
    height: 60px;
    background-color: orange;
    margin-left: 16.5%;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
}

.play {
    margin-top: -30px;
    color: white;
    font-size: 25px;
    margin-left: 75px;
}

.acountbank {
    margin-top: 15px;
}

.bankaccount {
    background-color: #f5f5f5;
    width: 1515px;
    margin-left: 16.7%;
    margin-top: 30px;
    border-radius: 15px;
    height: 240px;
    box-shadow: 10px 5px 5px orange;
}

.headertext {
    padding-top: 15px;
}

.box1 {
    display: flex;
}

.account1 {
    margin-left: 30.5%;
}

.account2 {
    margin-left: 20%;
}

.text1 {
    font-size: 19px;
    margin-top: -10px;
    margin-left: 12px;
    color: grey;
}

.text2 {
    font-size: 18px;
    margin-left: 5px;
    margin-top: -11px;
    color: grey;
}

.number1 {
    font-size: 19px;
    margin-top: -10px;
    margin-left: -30px;
    color: gray;
}

.birbankcard {
    width: 230px;
    height: 120px;
    margin-left: 25px;
    margin-top: 12px;
    border-radius: 15px;
}

.accountbtn,
.accountbtn1 {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    background-color: blue;
    border: none;
    font-size: 21px;
    font-weight: 700;
    border: 3px solid blue;
}

.new {
    margin-left: -10px;
    width: 100%;
    margin-top: 100px;
}

.servicesboxs {
    display: flex;
    gap: 55px;
    margin-left: 17%;
    height: 300px;
}

.searcebtn:hover,
.facebook:hover,
.instagram:hover,
.services1:hover {
    transform: rotate(360deg);
}

.services1:hover {
    position: relative;
    top: -15px;
}

.searcebtn,
.facebook,
.instagram,
.services1 {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.services1 {
    margin-top: 40px;
    border-radius: 10px;
    padding-top: 30px;
    border: none;
    background-color: #eaeaea;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    box-shadow: 10px 5px 5px orange;
}

.basliqxidmet {
    margin-left: -40px;
    width: 140px;
    margin-top: 28px;
}

.textxidmet {
    width: 270px;
    margin-left: -110px;
}

.basliqmusteri {
    margin-left: -75px;
    width: 200px;
    margin-top: 30px;
}

.ri-shield-fill,
.ri-vip-fill,
.ri-money-dollar-circle-fill {
    font-size: 35px;
}

.jeticon {
    border: 3px solid orange;
    width: 50px;
    height: 50px;
    padding-left: 1%;
    padding-top: 7.5px;
    border-radius: 100%;
    color: orange;
    margin-left: 38%;
}

.ri-arrow-right-up-line {
    font-size: 34px;
    margin-left: 3px;
    margin-top: -2px;
}

.foot {
    background-color: #eaeaea;
    width: 100%;
    height: 320px;
    border: none;
    padding-top: 25px;
    display: flex;
    gap: 65px;
    margin-left: -10px;
    padding-left: 17%;
}

.elvingame {
    margin-left: 2%;
}

.textfoot {
    width: 440px;
    font-size: 19px;
}

.footbasliq {
    margin-left: 76%;
}

.footsira {
    margin-top: 66px;
    margin-left: -35px;
}

.textfoot1 {
    width: 270px;
    margin-top: 23px;
    font-size: 23px;
}

.footlist {
    font-weight: 800;
    font-size: 26px;
}

.inputfoot {
    height: 40px;
    width: 260px;
    border: 4px solid orange;
    border-radius: 15px;
    outline: none;
    color: black;
    padding-left: 15px;
}

.footbtn {
    color: white;
    background-color: orange;
    border: none;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-left: 10px;
}

.ri-send-plane-fill {
    font-size: 25px;
}

.abunemesaage {
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 500;
    color: green;
    display: none;
    font-size: 20px;
}

.theend {
    border: none;
    width: 100%;
    height: 108px;
    padding-top: 20px;
    display: flex;
    gap: 35px;
    margin-left: -10px;
}

.endtext {
    margin-left: 17%;
    font-size: 21px;
}

.facebook {
    margin-left: 45%;
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.instagram {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.hiddenlink {
    font-size: 22px;
}

.elvingame ul li a {
    font-size: 21px;
}

.hiddenbirbank,
.hiddenbirbank1 {
    background-color: #f5f5f5;
    width: 1510px;
    height: 250px;
    margin-left: 385px;
    border-radius: 10px;
    margin-top: 35px;
    color: black;
    display: flex;
    gap: 50px;
    box-shadow: 10px 5px 5px orange;
    display: none;
}

.formfile,
.formfile1 {
    width: 300px;
    box-shadow: none;
    background-color: green;
    font-size: 22px;
    border: none;
    color: white;
}

label {
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
    color: orange;
}

.hiddenfile {
    margin-left: 70px;
    margin-top: 20px;
    padding-top: 25px;
}


.hiddencard,
.hiddencard1 {
    margin-left: 850px;
    padding-top: 30px;
    margin-top: -185px;
    /* margin-top: -250px; */
}

.cardnumber,
.cardnumber1,
.cardnumber2,
.cardnumber3 {
    width: 200px;
    height: 40px;
    padding-left: 10px;
    border: 3px solid blue;
    border-radius: 15px;
    font-size: 18px;
    outline: none;
    box-shadow: 10px 5px 5px blue;
}

.cardinputs {
    display: flex;
    gap: 40px;
}

.cardbutton,
.filebutton,
.filebutton1,
.cardbutton1 {
    width: 100px;
    height: 40px;
    border: 3px solid blue;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-size: 17px;
}

span {
    color: orange;
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
}

.filetext,
.filetext1,
.filetext2,
.filetext3 {
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    color: green;
    display: none;
}

.bankaccount:hover {
    margin-left: 500px;
    background-color: grey;
    color: white;
    transition: 1.5s;
}

.bankaccount:hover .text1 {
    color: white;
    transition: 1.5s;
}

.bankaccount:hover .text2 {
    color: white;
    transition: 1.5s;
}

.bankaccount:hover .number1 {
    color: white;
    transition: 1.5s;
}

.hiddenbirbank:hover {
    margin-left: 500px;
    background-color: grey;
    color: white;
    transition: 1.5s;
}

.hiddenbirbank1:hover {
    margin-left: 500px;
    background-color: grey;
    color: white;
    transition: 1.5s;
}

.hiddenbirbank:hover .filetext {
    color: white;
    transition: 1.5s;
}

.hiddenbirbank1:hover .filetext {
    color: white;
    transition: 1.5s;
}

.hiddenbirbank:hover .filetext1 {
    color: white;
    transition: 1.5s;
}

.hiddenbirbank1:hover .filetext1 {
    color: white;
    transition: 1.5s;
}

.hiddenbirbank1:hover .filetext2 {
    color: white;
    transition: 1.5s;
}

.hiddenbirbank1:hover .filetext3 {
    color: white;
    transition: 1.5s;
}

.hiddenbalance {
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 600px) {

    /* header hisesi ///////// */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        display: flex;
        gap: 20px;
        background-color: #f5f5f5;
        height: 35px;
        padding-top: 27px;
        width: 106%;
        margin-top: -10px;
    }

    .ri-menu-5-fill {
        margin-top: -23px;
        margin-left: -40px;
        font-size: 20px;
        display: block;
    }

    .userline {
        margin-left: 50px;
    }

    .hiddenlist {
        background-color: bisque;
        position: absolute;
        z-index: 2;
        margin-top: -85px;
        margin-left: -7px;
    }

    .gamename1 {
        display: block;
        color: orange;
        font-size: 21px;
        margin-left: 10%;
        margin-top: -25px;
        width: 120px;
    }

    .ri-user-line {
        display: block;
        margin-left: 25%;
        font-size: 20px;
        margin-top: -22px;
    }

    .button {
        display: none;
    }

    .news,
    .accounts,
    .help,
    .about,
    .connectionlink {
        display: none;
    }

    .mood {
        margin-left: -95px;
        margin-top: -21px;
    }

    .backmood {
        width: 40px;
        height: 20px;
        padding-top: -5px;
    }

    .ri-moon-fill {
        font-size: 10px;
        margin-left: -4px;
    }

    .ri-sun-line {
        font-size: 13px;
        font-weight: 900;
    }

    .hiddenbalance {
        display: block;
        margin-left: -3px;
        margin-top: 15px;
    }

    .balancebtn1 {
        display: block;
        width: 70px;
        font-size: 11px;
        height: 30px;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        box-shadow: none;
    }

    .ri-bank-line {
        display: none;
    }

    .header {
        width: 106%;
    }

    .playerbtn {
        box-shadow: none;
        width: 70px;
        height: 30px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        font-size: 11px;
        padding-top: -20px;
        margin-top: 1px;
    }

    .ri-shopping-basket-fill {
        display: none;
    }

    .ri-add-line {
        display: none;
    }

    .gamename {
        display: none;
    }

    .searce {
        width: 100px;
        height: 30px;
        margin-top: -70px;
        margin-left: 40px;
    }

    .searcebtn {
        display: none;
    }

    .ri-search-line {
        font-size: 10px;
        margin-left: -5px;
    }

    .playerbtn {
        display: block;
    }

    .player {
        margin-left: 10%;
        margin-top: -70px;
    }

    .balancebtn {
        display: none;
    }

    .main {
        display: none;
    }

    .hiddensearce {
        width: 115px;
        margin-top: -100px;
        margin-left: -25px;
    }

    .ri-corner-right-up-fill {
        margin-left: 3px;
    }

    .texthidden {
        font-size: 12px;
        margin-left: 225px;
        width: 60px;
    }

    .texthidden p {
        margin-left: -18px;
    }

    .hiddenlist {
        width: 150px;
    }

    .hiddensearce ul li {
        font-size: 13px;
        margin-left: -12px;
    }

    .hiddensearce ul {
        margin-top: 3px;
    }

    .games ul li a,
    .hiddensearce ul li a {
        font-size: 15px;
    }

    .gamessell1 {
        margin-left: -5px;
        width: 100%;
        height: 30px;
        margin-top: -15px;
    }

    .play {
        margin-top: -15px;
        font-size: 20px;
    }

    /* mainhisesi */

    .bankaccount {
        width: 100%;
        margin-left: -5px;
        height: 400px;
    }

    .headertext {
        font-size: 19px;
    }

    .box1 {
        display: block;
    }

    .account1 {
        margin-left: 15px;
    }

    .text1 {
        margin-left: 10px;
    }

    .bankcardnumber {
        margin-left: 140px;
        margin-top: -73px;
    }

    .number1 {
        font-size: 15px;
        margin-left: 140px;
    }

    .accountname {
        font-size: 18px;
        margin-left: -19%;
    }

    .text2 {
        font-size: 17px;
        margin-left: -17%;
    }

    .accountbtn,
    .accountbtn1 {
        width: 100px;
        font-size: 17px;
        margin-left: 40px;
        margin-top: -15px;
    }

    .hiddenbirbank,
    .hiddenbirbank1 {
        width: 100%;
        margin-left: -5px;
        height: 570px;
    }

    .hiddenfile {
        display: block;
    }

    .accountlabel {
        margin-left: -60px;
        font-size: 23px;
    }

    .formfile,
    .formfile1 {
        font-size: 15px;
        width: 220px;
        margin-left: -65px;
    }

    .filebutton,
    .filebutton1 {
        margin-left: -65px;
        font-size: 14px;
        width: 80px;
    }

    .hiddencard,
    .hiddencard1 {
        width: 100%;
        margin-left: 2px;
        margin-top: -10px;
    }

    .accountlabel1 {
        font-size: 23px;
    }

    .filetext,
    .filetext2 {
        margin-left: -60px;
        font-size: 15px;
    }

    span {
        font-size: 15px;
    }

    .cardinputs {
        display: block;
    }

    .cardnumber,
    .cardnumber2 {
        font-size: 15px;
        margin-top: -10px;
        width: 94%;
    }

    .cardnumber1,
    .cardnumber3 {
        margin-top: 20px;
        width: 94%;
        font-size: 15px;
    }

    .cardbutton,
    .cardbutton1 {
        margin-top: 20px;
        font-size: 14px;
        width: 80px;
    }

    .bankaccount:hover,
    .hiddenbirbank:hover,
    .hiddenbirbank1:hover {
        margin-left: 1px;
    }

    /* xeberlerhisesi */

    .new {
        width: 100%;
        margin-left: -1px;
    }

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 130px;
        height: 140px;
        box-shadow: none;
    }

    #services2 {
        margin-left: 15px;
        margin-top: 10px;
    }

    #services3 {
        margin-left: -35px;
        margin-top: 10px;
    }

    #services4 {
        margin-left: -333px;
        margin-top: 170px;
    }

    #services5 {
        margin-top: 173px;
        margin-left: -35px;
    }

    .ri-send-plane-fill {
        font-size: 27px;
    }

    #jeticon1 {
        width: 40px;
        height: 40px;
        margin-top: -20px;
    }

    .ri-arrow-right-up-line,
    .ri-vip-fill,
    .ri-shield-fill,
    .ri-money-dollar-circle-fill {
        font-size: 26px;
    }

    .ri-money-dollar-circle-fill {
        margin-top: -20px;
    }

    #basliqxitmet1 {
        font-size: 15px;
        margin-top: 10px;
        margin-left: -30px;
        width: 112px;
    }

    #basliqxitmet2 {
        font-size: 12px;
        margin-left: -50px;
        margin-top: 15px;
        width: 121px;
    }

    #textxidmet1 {
        font-size: 13px;
        margin-left: -51px;
        margin-top: -7px;
        width: 132px;
    }

    #textxidmet2 {
        font-size: 10px;
        margin-left: -51px;
        margin-top: -7px;
        width: 130px;
    }

    .servicesboxs {
        margin-left: -10px;
        width: 106%;
    }

    /* Foothissesi */

    .elvingame {
        margin-left: -35px;
    }

    .foot {
        margin-top: 40px;
        width: 106%;
        height: 1150px;
        display: block;
    }

    .gamestore {
        font-size: 31px;
    }

    .textfoot {
        width: 289px;
        font-size: 21px;
    }

    .footbasliq {
        margin-left: 65px;
        font-size: 29px;
    }

    .footlist {
        font-size: 20px;
        margin-left: -10px;
    }

    .footsira {
        font-size: 20px;
        margin-left: -7px;
        font-weight: 900;
    }

    #footbolmeler {
        margin-top: 40px;
    }

    #foots {
        font-size: 20px;
    }

    .footabune {
        font-size: 30px;
        margin-left: 55px;
    }

    .textfoot1 {
        font-size: 25px;
    }

    .inputfoot {
        height: 40px;
        width: 270px;
        font-size: 17px;
    }

    .footbtn {
        margin-top: 20px;
    }

    .abunemesaage {
        margin-top: 20px;
        font-size: 17px;
    }

    .theend {
        width: 106%;
        display: block;
    }

    .facebook,
    .instagram {
        width: 30px;
        height: 30px;
    }

    .facebook {
        margin-left: 10px;
    }

    .instagram {
        margin-left: 20px;
    }

    .endtext {
        font-size: 17px;
        margin-left: 10px;
    }


}

@media screen and (min-width: 450px) and (max-width: 600px) {

    /* header hisses */

    .gamename1 {
        margin-left: 30%;
    }

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        width: 106%;
    }

    .ri-user-line {
        margin-left: 230px;
    }

    .userline {
        margin-left: -30%;
    }

    .ri-menu-5-fill {
        margin-left: -55px;
    }

    .hiddenbalance {
        display: block;
        margin-left: -3px;
        margin-top: 15px;
    }

    .balancebtn1 {
        display: block;
        width: 65px;
        font-size: 12px;
        padding-left: 5px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
    }

    .ri-add-line {
        display: none;
    }

    .searce {
        margin-left: 95px;
    }

    .player {
        margin-left: 110px;
    }

    .hiddensearce {
        margin-left: -62px;
    }

    .texthidden {
        margin-left: 365px;
    }

    /* mainhisesi */

    .cardnumber,
    .cardnumber1,
    .cardnumber2,
    .cardnumber3 {
        width: 70%;
    }

    .cardbutton,
    .cardbutton1 {
        margin-left: 20px;
    }

    /* Xeberler */

    #services3 {
        margin-left: 10px;
    }

    #services2 {
        margin-left: 30px;
    }

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 180px;
        height: 140px;
    }

    #services4 {
        margin-left: -480px;
    }

    #services5 {
        margin-left: 10px;
    }

}

@media screen and (min-width: 601px) and (max-width: 991px) {

    /* .headerhisesi */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        display: flex;
        gap: 20px;
        background-color: #f5f5f5;
        height: 45px;
        padding-top: 27px;
        width: 103%;
        margin-top: -10px;
    }

    .ri-menu-5-fill {
        margin-top: -23px;
        margin-left: 13px;
        font-size: 26px;
        display: block;
    }

    .userline {
        margin-left: 130px;
    }

    .gamename1 {
        display: block;
        color: orange;
        font-size: 30px;
        margin-left: 30%;
        margin-top: -25px;
        width: 200px;
    }

    .ri-user-line {
        display: block;
        margin-left: 25%;
        font-size: 25px;
        margin-top: -22px;
    }


    .header {
        width: 102.5%;
    }

    .button {
        display: none;
    }

    .news,
    .accounts,
    .help,
    .connectionlink,
    .about {
        display: none;
    }

    .mood {
        margin-left: -95px;
        margin-top: -21px;
    }

    .backmood {
        width: 45px;
        height: 30px;
        padding-top: -5px;
        margin-left: -70px;
    }

    .ri-moon-fill {
        font-size: 13px;
        margin-left: -4px;
    }

    .ri-sun-line {
        font-size: 15px;
        font-weight: 900;
    }

    .hiddenbalance {
        display: block;
        margin-left: -3px;
        margin-top: 15px;
    }

    .balancebtn1 {
        display: block;
        width: 130px;
        font-size: 15px;
        height: 40px;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        box-shadow: none;
    }

    .playerbtn {
        box-shadow: none;
        width: 130px;
        height: 40px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        font-size: 15px;
        padding-top: -20px;
        margin-top: -10px;
    }

    .ri-shopping-basket-fill {
        display: none;
    }

    .ri-add-line {
        display: none;
    }

    .gamename {
        display: none;
    }

    .searce {
        width: 173px;
        height: 40px;
        margin-top: -80px;
        margin-left: 90px;
    }

    .searcebtn {
        display: none;
    }

    .ri-search-line {
        font-size: 10px;
        margin-left: -5px;
    }

    .playerbtn {
        display: block;
        margin-left: 40px;
    }

    .ri-menu-5-fill {
        margin-left: -90px;
    }

    .player {
        margin-left: 10%;
        margin-top: -70px;
    }

    .balancebtn {
        display: none;
    }

    .main {
        display: none;
    }

    .hiddensearce {
        width: 180px;
        margin-top: -75px;
        margin-left: -35px;
    }

    .games ul li a,
    .hiddensearce ul li a {
        font-size: 15px;
    }

    .ri-corner-right-up-fill {
        margin-left: 3px;
    }

    .texthidden {
        font-size: 12px;
        margin-left: 800px;
        width: 60px;
    }

    .texthidden p {
        margin-left: -18px;
    }

    .hiddenlist {
        width: 150px;
        position: absolute;
        z-index: 1;
        background-color: bisque;
        margin-top: -95px;
        margin-left: -7px;
    }

    .hiddensearce ul li {
        font-size: 13px;
        margin-left: -12px;
    }

    .hiddensearce ul {
        margin-top: 3px;
    }

    .gamessell1 {
        margin-left: 3px;
        width: 99%;
        margin-top: 2px;
        padding-left: 30px;
    }

    /* mainhissesi */

    .bankaccount {
        width: 100%;
        margin-left: -5px;
        height: 280px;
    }

    .headertext {
        font-size: 19px;
    }

    .box1 {
        display: block;
    }

    .account1 {
        margin-left: 15px;
    }

    .text1 {
        margin-left: 42%;
    }

    .bankcardnumber {
        margin-left: 70%;
        margin-top: -75px;
    }

    .number1 {
        font-size: 15px;
        margin-left: 67%;
    }

    .birbankcard {
        width: 35%;
        margin-left: 10px;
    }

    .accountname {
        font-size: 18px;
        margin-left: 26%;
    }

    .text2 {
        font-size: 17px;
        margin-left: 27%;
    }

    .accountbtn,
    .accountbtn1 {
        width: 100px;
        font-size: 17px;
        margin-left: 65%;
        margin-top: -100px;
    }

    .hiddenbirbank,
    .hiddenbirbank1 {
        width: 100%;
        display: block;
        margin-left: -5px;
        height: 570px;
    }

    .hiddenfile {
        display: block;
    }

    .accountlabel {
        margin-left: -60px;
        font-size: 23px;
    }

    .formfile,
    .formfile1 {
        font-size: 15px;
        width: 220px;
        margin-left: -65px;
    }

    .filebutton,
    .filebutton1 {
        margin-left: -65px;
        font-size: 14px;
        width: 80px;
    }

    .hiddencard,
    .hiddencard1 {
        width: 100%;
        margin-left: 2px;
        margin-top: -10px;
    }

    .accountlabel1 {
        font-size: 23px;
    }

    .filetext,
    .filetext2 {
        display: block;
        margin-left: -60px;
        font-size: 15px;
    }

    span {
        font-size: 15px;
    }

    .cardinputs {
        display: block;
    }

    .cardnumber,
    .cardnumber2 {
        font-size: 15px;
        margin-top: -10px;
        margin-left: 10px;
        width: 40%;
    }

    .cardnumber1,
    .cardnumber3 {
        margin-top: 20px;
        width: 40%;
        font-size: 15px;
        margin-left: 27px;
    }

    .cardbutton,
    .cardbutton1 {
        margin-top: 20px;
        font-size: 14px;
        width: 80px;
        margin-left: 20px;
    }

    .filetext1,
    .filetext3 {
        display: block;
    }

    .bankaccount:hover,
    .hiddenbirbank:hover,
    .hiddenbirbank1:hover {
        margin-left: 1px;
    }

    .bankname {
        margin-left: 40%;
        margin-top: -110px;
    }

    /* xeberler */


    #services2,
    #services3,
    #services4,
    #services5 {
        width: 150px;
        height: 140px;
    }

    .ri-send-plane-fill {
        font-size: 27px;
    }

    #services2 {
        margin-left: 35px;
        margin-top: 15px;
    }

    #services3 {
        margin-left: 5px;
        margin-top: 15px;
    }

    #services4 {
        margin-left: -415px;
        margin-top: 180px;
    }

    #services5 {
        margin-top: 15px;
        margin-left: 220px;
    }

    #jeticon1 {
        width: 40px;
        height: 40px;
        margin-top: -20px;
    }

    .ri-arrow-right-up-line,
    .ri-vip-fill,
    .ri-shield-fill,
    .ri-money-dollar-circle-fill {
        font-size: 26px;
    }

    .ri-money-dollar-circle-fill {
        margin-top: -20px;
    }

    #basliqxitmet1 {
        font-size: 15px;
        margin-top: 10px;
        margin-left: -30px;
        width: 112px;
    }

    #basliqxitmet2 {
        font-size: 12px;
        margin-left: -50px;
        margin-top: 15px;
        width: 121px;
    }

    #textxidmet1 {
        font-size: 13px;
        margin-left: -51px;
        margin-top: -7px;
        width: 132px;
    }

    #textxidmet2 {
        font-size: 12px;
        margin-left: -51px;
        margin-top: -7px;
        width: 139px;
    }

    .servicesboxs {
        margin-left: -10px;
        width: 102.5%;
    }

    .new {
        width: 100%;
    }

    .gamessell1 {
        margin-left: 3px;
        width: 99%;
        margin-top: 2px;
        padding-left: 30px;
        height: 70px;
    }

    /* foothisesi */

    .elvingame {
        margin-left: -80px;
        margin-top: -10px;
    }

    .foot {
        margin-top: 40px;
        width: 102.5%;
        height: 800px;
        display: block;
    }

    .gamestore {
        font-size: 31px;
    }

    .textfoot {
        width: 575px;
        font-size: 22px;
    }

    .footbasliq {
        margin-left: 220px;
        font-size: 29px;
        margin-top: 70px;
    }

    .footlist {
        font-size: 20px;
        margin-left: -10px;
    }

    .footsira {
        font-size: 20px;
        margin-left: -7px;
        font-weight: 900;
        margin-top: 65px;
    }

    #footbolmeler {
        margin-top: -120px;
        margin-left: 290px;
    }

    #foots {
        font-size: 20px;
    }

    .footabune {
        font-size: 30px;
        margin-left: 1px;
        margin-top: 80px;
    }

    .textfoot1 {
        font-size: 25px;
        width: 570px;
    }

    .inputfoot {
        height: 40px;
        width: 270px;
        font-size: 17px;
    }

    .footbtn {
        margin-top: -10px;
    }

    .abunemesaage {
        margin-top: 20px;
        font-size: 20px;
    }

    .theend {
        width: 106%;
        display: block;
        width: 100%;
    }

    .facebook,
    .instagram {
        width: 30px;
        height: 30px;
    }

    .facebook {
        margin-left: 10px;
    }

    .instagram {
        margin-left: 20px;
    }

    .endtext {
        font-size: 17px;
        margin-left: 10px;
    }

}

@media screen and (min-width: 751px) and (max-width: 991px) {

    /* .headerhisesi */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        display: flex;
        gap: 20px;
        background-color: #f5f5f5;
        height: 45px;
        padding-top: 27px;
        width: 103%;
        margin-top: -10px;
    }

    .ri-menu-5-fill {
        margin-top: -23px;
        margin-left: 13px;
        font-size: 26px;
        display: block;
    }

    .userline {
        margin-left: 230px;
    }

    .gamename1 {
        display: block;
        color: orange;
        font-size: 30px;
        margin-left: 25%;
        margin-top: -25px;
        width: 200px;
    }

    .ri-user-line {
        display: block;
        margin-left: 25%;
        font-size: 25px;
        margin-top: -22px;
    }


    .header {
        width: 102.5%;
    }

    .button {
        display: none;
    }

    .news,
    .accounts,
    .help,
    .connectionlink,
    .about {
        display: none;
    }

    .mood {
        margin-left: -95px;
        margin-top: -21px;
    }

    .backmood {
        width: 45px;
        height: 30px;
        padding-top: -5px;
        margin-left: -70px;
    }

    .ri-moon-fill {
        font-size: 13px;
        margin-left: -4px;
    }

    .ri-sun-line {
        font-size: 15px;
        font-weight: 900;
    }

    .hiddenbalance {
        display: block;
        margin-left: -3px;
        margin-top: 15px;
    }

    .balancebtn1 {
        display: block;
        width: 130px;
        font-size: 15px;
        height: 40px;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        box-shadow: none;
    }

    .playerbtn {
        box-shadow: none;
        width: 130px;
        height: 40px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        font-size: 15px;
        padding-top: -20px;
        margin-top: -10px;
    }

    .ri-shopping-basket-fill {
        display: none;
    }

    .ri-add-line {
        display: none;
    }

    .gamename {
        display: none;
    }

    .searce {
        width: 173px;
        height: 40px;
        margin-top: -80px;
        margin-left: 90px;
    }

    .searcebtn {
        display: none;
    }

    .ri-search-line {
        font-size: 10px;
        margin-left: -5px;
    }

    .playerbtn {
        display: block;
        margin-left: 40px;
    }

    .ri-menu-5-fill {
        margin-left: -90px;
    }

    .player {
        margin-left: 10%;
        margin-top: -70px;
    }

    .balancebtn {
        display: none;
    }

    .main {
        display: none;
    }

    .hiddensearce {
        width: 180px;
        margin-top: -75px;
        margin-left: -35px;
    }

    .games ul li a,
    .hiddensearce ul li a {
        font-size: 15px;
    }

    .ri-corner-right-up-fill {
        margin-left: 3px;
    }

    .texthidden {
        font-size: 12px;
        margin-left: 800px;
        width: 60px;
    }

    .texthidden p {
        margin-left: -18px;
    }

    .hiddenlist {
        width: 150px;
        position: absolute;
        z-index: 1;
        background-color: bisque;
        margin-top: -95px;
        margin-left: -7px;
    }

    .hiddensearce ul li {
        font-size: 13px;
        margin-left: -12px;
    }

    .hiddensearce ul {
        margin-top: 3px;
    }

    .gamessell1 {
        margin-left: 3px;
        width: 99%;
        margin-top: 2px;
        padding-left: 30px;
        height: 70px;
    }

    /* xeberler */

}

@media screen and (min-width: 991px) and (max-width: 1400px) {

    /* .headerhissesi */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        width: 101.5%;
    }

    .news {
        margin-left: -170px;
    }

    .news,
    .accounts,
    .help,
    .about,
    .connectionlink {
        font-size: 14px;
    }

    .mood {
        margin-top: -5px;
    }

    .backmood {
        width: 60px;
        height: 25px;
        margin-left: -200px;
    }

    .ri-moon-fill {
        font-size: 13px;
    }

    .ri-sun-line {
        font-size: 14px;
    }

    .button {
        margin-top: -5px;
    }

    .entry {
        width: 70px;
        height: 30px;
        margin-left: -100px;
    }

    .note {
        width: 70px;
        height: 30px;
    }

    .gamename {
        margin-left: -175px;
        margin-top: -25px;
    }

    .searce {
        width: 170px;
        height: 35px;
        margin-top: -10px;
        margin-left: 80px;
    }

    .searcebtn {
        margin-top: -5px;
        width: 23px;
        height: 23px;
        margin-left: -30px;

    }

    .ri-search-line {
        margin-left: -3px;
    }

    .playerbtn {
        width: 150px;
        height: 30px;
        font-size: 14px;
        padding-left: 40px;
        margin-left: -70px;
        margin-top: -13px;
    }

    .balancebtn {
        width: 150px;
        height: 30px;
        font-size: 14px;
        padding-left: 40px;
    }

    .hiddensearce {
        width: 180px;
        margin-left: -70px;
        margin-top: -30px;
    }

    .texthidden {
        margin-left: 660px;
    }

    .ri-corner-right-up-fill {
        margin-left: 700px;
    }

    .games {
        margin-left: 3px;
        margin-top: 4px;
        width: 160px;
    }

    .games ul li a,
    .hiddensearce ul li a {
        font-size: 15px;
    }

    .ri-add-line {
        font-size: 20px;
    }

    .player {
        margin-left: 200px;
        margin-top: -5px;
    }

    .category {
        width: 150px;
        font-size: 15px;
        height: 35px;
        margin-left: -150px;
    }

    .home,
    .game,
    .payy,
    .rule,
    .aboutme,
    .connection {
        font-size: 17px;
    }

    .home {
        margin-left: 50px;
    }

    .gamessell1 {
        margin-left: 3px;
        width: 100%;
    }

    .backrules {
        width: 101%;
    }

    .ri-menu-5-fill {
        display: none;
    }

    .header {
        width: 100%;
    }

    .game,
    .payy,
    .rule,
    .aboutme,
    .connection {
        margin-left: 60px;
    }

    .main {
        width: 100%;
    }

    /* mainhissesi */

    .bankaccount {
        width: 100%;
        margin-left: -5px;
        height: 280px;
    }

    .headertext {
        font-size: 19px;
    }

    .box1 {
        display: block;
    }

    .account1 {
        margin-left: 15px;
    }

    .text1 {
        margin-left: 42%;
    }

    .bankcardnumber {
        margin-left: 70%;
        margin-top: -75px;
    }

    .number1 {
        font-size: 15px;
        margin-left: 67%;
    }

    .birbankcard {
        width: 35%;
        margin-left: 10px;
    }

    .accountname {
        font-size: 18px;
        margin-left: 26%;
    }

    .text2 {
        font-size: 17px;
        margin-left: 27%;
    }

    .accountbtn,
    .accountbtn1 {
        width: 100px;
        font-size: 17px;
        margin-left: 65%;
        margin-top: -100px;
    }

    .hiddenbirbank,
    .hiddenbirbank1 {
        width: 100%;
        display: flex;
        margin-left: -5px;
        height: 270px;
    }

    .hiddenfile {
        display: block;
    }

    .accountlabel {
        margin-left: -60px;
        font-size: 23px;
    }

    .formfile,
    .formfile1 {
        font-size: 15px;
        width: 220px;
        margin-left: -65px;
    }

    .filebutton,
    .filebutton1 {
        margin-left: -65px;
        font-size: 14px;
        width: 80px;
    }

    .hiddencard,
    .hiddencard1 {
        width: 100%;
        margin-left: 2px;
        margin-top: -10px;
    }

    .accountlabel1 {
        font-size: 23px;
    }

    .filetext,
    .filetext2 {
        display: block;
        margin-left: -60px;
        font-size: 15px;
        width: 250px;
    }

    span {
        font-size: 15px;
    }

    .cardinputs {
        display: block;
    }

    .cardnumber,
    .cardnumber2 {
        font-size: 15px;
        margin-top: -10px;
        margin-left: 10px;
        width: 40%;
    }

    .cardnumber1,
    .cardnumber3 {
        margin-top: 20px;
        width: 40%;
        font-size: 15px;
        margin-left: 27px;
    }

    .cardbutton,
    .cardbutton1 {
        margin-top: 20px;
        font-size: 14px;
        width: 80px;
        margin-left: 20px;
    }

    .filetext1,
    .filetext3 {
        display: block;
        font-size: 17px;
        margin-left: 20px;
    }

    .bankaccount:hover,
    .hiddenbirbank:hover,
    .hiddenbirbank1:hover {
        margin-left: 1px;
    }

    .bankname {
        margin-left: 40%;
        margin-top: -110px;
    }

    .birbankcard{
        width: 25%;
    }

    .hiddencard, .hiddencard1{
        margin-left: 250px;
    }

    .hiddenfile{
        margin-top: -10px;
        margin-left: 80px;
    }

    /* xeberler */

    .new {
        width: 100%;
    }

    .servicesboxs {
        gap: 0px;
    }

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 260px;
    }

    #services2 {
        margin-left: -130px;
    }

    #services3 {
        margin-left: 70px;
    }

    #services4 {
        margin-left: 73px;
    }

    #services5 {
        margin-top: 300px;
        margin-left: -925px;
    }

    #textxidmet1 {
        width: 250px;
        margin-left: -95px;
    }

    #textxidmet2 {
        width: 300px;
        margin-left: -95px;
    }

    .gamessell1{
        margin-left: 20px;
    }

    /* foothissesi */

    .foot{
        margin-top: 250px;
        width: 101.4%;
        display: block;
        height: 840px;
    }

    .elvingame{
        margin-left: -130px;
        margin-top: -25px;
    }

    .gamestore{
        font-size: 32px;
    }

    .textfoot{
        width: 900px;
        font-size: 25px;
    }

    .footbasliq{
        margin-top: 100px;
        margin-left: 285px;
        font-size: 32px;
    }

    .footsira{
        margin-left: 450px;
        margin-top: -145px;
    }

    .footabune{
        margin-top: 80px;
        font-size: 32px;
        margin-left: 320px;
    }

    .textfoot1{
        font-size: 32px;
        width: 900px;
    }

    .abunemesaage{
        margin-left: 450px;
        margin-top: -40px;
    }

    .endtext{
        margin-left: 20px;
    }

    #istagramid{
        margin-left: 20px;
    }

    .theend{
        width: 100%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }


    .button {
        margin-left: 150px;
    }

    .backmood{
        margin-left: -10px;
    }

    .searce{
        margin-left: 170px;
    }

    .player{
        margin-left: 300px;
    }

    .gamename{
        width: 250px;
        margin-left: -200px;
    }

    .home, .game, .payy, .aboutme, .rule, .connection{
        margin-left: 85px;
    }

    .hiddensearce{
        margin-left: -130px;
        width: 180px;
    }

    .texthidden{
        margin-left: 875px;
    }

    .ri-corner-right-up-fill{
        margin-left: 915px;
    }

    .birbankcard{
        width: 20%;
    }

    /* xeberler */

    .new {
        width: 100%;
    }

    .servicesboxs {
        gap: 0px;
    }

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 260px;
    }

    #services2 {
        margin-left: -130px;
    }

    #services3 {
        margin-left: 70px;
    }

    #services4 {
        margin-left: 73px;
    }

    #services5 {
        margin-top: 300px;
        margin-left: -925px;
    }

    #textxidmet1 {
        width: 250px;
        margin-left: -95px;
    }

    #textxidmet2 {
        width: 300px;
        margin-left: -95px;
    }

    .gamessell1{
        margin-left: 20px;
    }
    
}