* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.began {
    display: flex;
    gap: 20px;
    background-color: #f5f5f5;
    height: 80px;
    padding-top: 27px;
    margin-left: -10px;
    width: 100%;
    margin-top: -10px;
}

.news {
    margin-left: 18%;
}

.ri-list-check {
    display: none;
}

.gamename1 {
    display: none;
}

.ri-user-line {
    display: none;
}

.mood {
    margin-left: 30%;
}

.backmood {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 3px solid orange;
    box-shadow: 10px 5px 5px orange;
}

.ri-sun-line {
    color: orange;
    font-size: 20px;
}

.entry {
    background-color: orange;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 3px solid orange;
}

.note {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 100px;
    margin-left: 10px;
    height: 30px;
    border: 3px solid black;
}

.texthidden {
    border: none;
    width: 100px;
    margin-top: -15px;
    padding-left: 20px;
    color: white;
    background-color: orange;
    height: 25px;
    margin-left: 78%;
    position: relative;
    z-index: 1;
    padding-top: -10px;
    top: 31px;
    font-weight: 900;
    display: none;
}

.ri-corner-right-up-fill {
    margin-left: 79.8%;
    position: relative;
    top: 38px;
    font-size: 26px;
    color: orange;
    font-weight: 900;
    display: none;
}

::-webkit-scrollbar {
    background-color: orange;
    width: 8px;
}

.hiddensearce {
    position: absolute;
    z-index: 2;
    background-color: palegoldenrod;
    color: black;
    min-height: 60px;
    max-height: 170px;
    width: 269px;
    left: 49.5%;
    border-radius: 15px;
    top: 170px;
    display: block;
    overflow: auto;
    display: none;
    margin-left: -45px;
}

.hiddenbalance {
    display: none;
}

.ri-add-line {
    font-size: 25px;
    margin-left: -70px;
    color: orange;
}

.header {
    display: flex;
    padding-top: 40px;
    margin-left: -10px;
    width: 100%;
}

.gamename {
    color: orange;
    font-size: 45px;
    margin-left: 385px;
    margin-top: 5px;
}

.searce {
    width: 250px;
    height: 50px;
    border: 3px solid orange;
    border-radius: 10px;
    color: black;
    outline: none;
    padding-left: 10px;
    margin-left: 20%;
}

.searcebtn {
    height: 30px;
    background-color: orange;
    color: white;
    border-radius: 20px;
    border: 3px solid orange;
    width: 30px;
    margin-left: -45px;
    margin-top: 12px;
}

.player {
    margin-left: 18%;
}

.playerbtn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid orange;
    color: black;
    background-color: white;
    box-shadow: 10px 5px 5px orange;
}

.balancebtn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid orange;
    color: black;
    background-color: white;
    margin-left: 15px;
    box-shadow: 10px 5px 5px orange;
}

.ri-shopping-basket-fill {
    font-size: 20px;
    margin-left: -50px;
    color: orange;
}

.ri-add-line {
    font-size: 25px;
    margin-left: -70px;
    color: orange;
}

.main {
    border: none;
    background-color: white;
    display: flex;
    color: black;
    margin-left: -10px;
    width: 100%;
}

.category {
    width: 250px;
    height: 50px;
    border: 3px solid orange;
    background-color: orange;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 19px;
    margin-left: 17%;
}

.home {
    margin-left: 10%;
    font-size: 20px;
    margin-top: 12px;
}

.game,
.payy,
.rule,
.aboutme,
.connection {
    margin-left: 5%;
    font-size: 20px;
    margin-top: 12px;
}

a {
    text-decoration: none;
}

.mobilefoto:hover,
.freefoto:hover,
.tictocfoto:hover,
.valorant:hover,
.efutboll:hover,
.pointblank:hover,
.callduty:hover,
.netflix:hover,
.netflix1:hover,
.spotify:hover {
    background-color: orange;
    position: relative;
    top: -15px;
}

a:hover {
    color: orange;
    position: relative;
    top: -5px;
    transition: 0.7s;
}

.searcebtn:hover,
.facebook:hover,
.instagram:hover,
.services1:hover {
    transform: rotate(360deg);
}

.playerbtn:hover {
    background-color: orange;
    color: white;
}

.playerbtn:hover .ri-shopping-basket-fill {
    color: white;
}

.balancebtn:hover {
    background-color: orange;
    color: white;
}

.balancebtn:hover .ri-add-line {
    color: white;
}

.services1:hover {
    position: relative;
    top: -15px;
}

.playerbtn:hover,
.balancebtn:hover,
.gamename:hover {
    transform: rotate(360deg);
}

.balans:hover,
.bank:hover {
    position: relative;
    top: -15px;
}

.playerbtn,
.balancebtn,
.gamename {
    transition: transform 0.5s ease;
}

.playerbtn:hover,
.balancebtn:hover,
.gamename:hover {
    transform: rotate(360deg);
}

.searcebtn,
.facebook,
.instagram,
.services1 {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.searcebtn:hover,
.facebook:hover,
.instagram:hover,
.services1:hover {
    transform: rotate(360deg);
}

.gamessell1 {
    border: none;
    width: 1600px;
    height: 60px;
    background-color: orange;
    margin-left: 16.5%;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

.ri-shopping-cart-fill,
.ri-bank-line,
.ri-gamepad-fill,
.ri-book-3-line,
.ri-discord-fill {
    color: white;
    font-size: 30px;
    margin-left: 22px;
    margin-top: 14px;
}

.play {
    margin-top: 16px;
    color: white;
    font-size: 25px;
}

.sell {
    background-color: #eaeaea;
    border: none;
    height: 425px;
    padding-top: 10px;
    margin-left: -10px;
    width: 100%;
    margin-top: 20px;
}

.gamesfoto {
    display: flex;
    gap: 85px;
}

.mobilefoto {
    margin-left: 17%;
    margin-top: 2%;
    background-color: white;
    width: 250px;
    height: 150px;
    padding-left: 10px;
    padding-top: 12px;
    border-radius: 15px;
}

.pubgfoto,
.freefrifoto,
.tiktokfoto,
.valorantfoto,
.efutbollfoto,
.pointblankfoto,
.calldutyfoto,
.netflixfoto,
.spotifyfoto {
    width: 243px;
    border-radius: 15px;
    margin-left: -7px;
    margin-top: -6.5px;
}

.freefoto,
.tictocfoto,
.valorant,
.efutboll,
.pointblank,
.callduty,
.netflix,
.netflix1,
.spotify {
    margin-top: 2%;
    background-color: white;
    width: 250px;
    height: 150px;
    padding-left: 10px;
    padding-top: 12px;
    border-radius: 15px;
}

.pubgfoto,
.freefrifoto,
.tiktokfoto,
.valorantfoto,
.efutbollfoto,
.pointblankfoto,
.calldutyfoto,
.netflixfoto,
.netflixfoto,
.spotifyfoto {
    width: 235px;
    margin-top: 0.5px;
    height: 125px;
    margin-left: -1.5px;
}


.gamesfoto1 {
    margin-left: 17%;
    display: flex;
    gap: 85px;
}

.games {
    width: 242.5px;
    margin-left: 16.6%;
    margin-top: -2px;
    height: 135px;
    overflow: auto;
    position: absolute;
    z-index: 2;
    display: none;
    background-color: white;
    border: 3px solid orange;
}

.new {
    margin-left: -10px;
    width: 100%;
    margin-top: 100px;
}

.servicesboxs {
    display: flex;
    gap: 55px;
    margin-left: 17%;
    height: 300px;
}

.services1 {
    margin-top: 40px;
    border-radius: 10px;
    padding-top: 30px;
    border: none;
    background-color: #eaeaea;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    box-shadow: 10px 5px 5px orange;
}

input {
    box-shadow: 10px 5px 5px orange;
}

.jeticon {
    border: 3px solid orange;
    width: 50px;
    height: 50px;
    padding-left: 1%;
    padding-top: 7.5px;
    border-radius: 100%;
    color: orange;
    margin-left: 38%;
}

.ri-arrow-right-up-line {
    font-size: 34px;
    margin-left: 3px;
    margin-top: -2px;
}

.basliqxidmet {
    margin-left: -40px;
    width: 140px;
    margin-top: 28px;
}

.textxidmet {
    width: 270px;
    margin-left: -110px;
}

.ri-shield-fill {
    margin-top: -10px;
    margin-left: 2.5px;
}

.ri-money-dollar-circle-fill {
    margin-left: 2.3px;
}

.ri-shield-fill,
.ri-vip-fill,
.ri-money-dollar-circle-fill {
    font-size: 35px;
}

.basliqmusteri {
    margin-left: -75px;
    width: 200px;
    margin-top: 30px;
}

.footlist {
    font-weight: 800;
    font-size: 29px;
}

.foot {
    background-color: #eaeaea;
    width: 100%;
    height: 320px;
    border: none;
    padding-top: 25px;
    display: flex;
    gap: 65px;
    margin-left: -10px;
    padding-left: 17%;
}

.elvingame {
    margin-left: 2%;
}

.textfoot {
    width: 440px;
    font-size: 21px;
}

.footbasliq {
    margin-left: 76%;
}

.footsira {
    margin-top: 66px;
    margin-left: -35px;
}

.textfoot1 {
    width: 270px;
    margin-top: 23px;
    font-size: 24px;
}

.inputfoot {
    height: 40px;
    width: 260px;
    border: 4px solid orange;
    border-radius: 15px;
    outline: none;
    color: black;
    padding-left: 15px;
}

.footbtn {
    color: white;
    background-color: orange;
    border: none;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-left: 10px;
}

.ri-send-plane-fill {
    font-size: 25px;
}

.abunemesaage {
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 500;
    color: green;
    display: none;
    font-size: 23px;
}

.theend {
    border: none;
    width: 100%;
    height: 108px;
    padding-top: 20px;
    display: flex;
    gap: 35px;
    margin-left: -10px;
}

.endtext {
    margin-left: 17%;
    font-size: 23px;
}

.facebook {
    margin-left: 45%;
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.instagram {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.hiddenlink {
    font-size: 22px;
}

.elvingame ul li a {
    font-size: 21px;
}

.backrules {
    background-color: #f5f5f5;
    width: 100%;
    min-height: 960px;
    max-height: 1750px;
    margin-left: -10px;
    padding-top: 10px;
    margin-top: 15px;
}

.rules {
    margin-left: 16.4%;
    margin-top: 40px;
    background-color: white;
    width: 1610px;
    height: 740px;
    border-radius: 10px;
    border: 5px solid orange;
    color: black;
    box-shadow: 10px 5px 5px orange;
}

span {
    color: orange;
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
}

.rules ul li {
    font-size: 20px;
    margin-top: 20px;
}

.rules h2 {
    margin-left: 20px;
}

.uc60 {
    display: flex;
    background-color: white;
    width: 1600px;
    height: 190px;
    border-radius: 15px;
    margin-left: 375px;
    margin-top: 50px;
    color: black;
    gap: 20px;
    box-shadow: 10px 5px 5px orange;
}

.pubguc {
    margin-left: 25px;
    height: 150px;
    margin-top: 20px;
    border-radius: 15px;
}

.uc60 .uctext {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    margin-top: 70px;
}

.ucprice {
    font-size: 26px;
    margin-left: 50px;
    margin-top: 70px;
}

.ucspan {
    color: orange;
    font-weight: 900;
    font-style: italic;
    font-size: 25px;
}

.ucinput,
.ucinput1,
.ucinput2,
.ucinput3,
.ucinput4,
.ucinput5 {
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border: 3px solid orange;
    outline: none;
    color: black;
    margin-left: 50px;
    margin-top: 65px;
    font-size: 25px;
}

.ucbtn,
.ucbtn1,
.ucbtn2,
.ucbtn3,
.ucbtn4,
.ucbtn5 {
    width: 100px;
    height: 60px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 57px;
}

.ucselect,
.ucselect1,
.ucselect2,
.ucselect3,
.ucselect4,
.ucselect5 {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 68px;
    border: 3px solid orange;
    font-size: 22px;
    outline: none;
    box-shadow: 10px 5px 5px orange;
}

.uc60:hover,
.hiddenuc:hover,
.hiddenuc1:hover,
.hiddenuc2:hover,
.hiddenuc3:hover,
.hiddenuc4:hover,
.hiddenuc5:hover {
    background-color: grey;
    margin-left: 450px;
    transition: 1.5s;
}

.hiddenuc,
.hiddenuc1,
.hiddenuc2,
.hiddenuc3,
.hiddenuc4,
.hiddenuc5 {
    background-color: white;
    margin-left: 375px;
    margin-top: 30px;
    border-radius: 10px;
    width: 1610px;
    height: 120px;
    color: black;
    box-shadow: 10px 5px 5px orange;
}

tr {
    display: flex;
    gap: 115px;
}

th {
    margin-left: 30px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: 900;
    font-style: italic;
    color: orange;
}

td {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 750;
    font-style: italic;
    margin-left: 10px;
}

.uctd {
    margin-left: -15px;
}

.ucvalyuta {
    margin-left: 45px;
}

.ucvalyuta1,
.ucvalyuta2 {
    margin-left: 38px;
}

.ucvalyuta3 {
    margin-left: 39px;
}

.ucvalyuta4 {
    margin-left: 35px;
}

.ucvalyuta5 {
    margin-left: 38px;
}

.ucprize,
.ucprize2,
.ucprize3 {
    margin-left: 52px;
}

.ucprize5 {
    margin-left: 40px;
}

.ucprize1 {
    margin-left: 47px;
}

.ucprize4 {
    margin-left: 41px;
}

.ucnumber {
    margin-left: 60px;
}

.ucnumber5 {
    margin-left: 45px;
}

.ucnumber4 {
    margin-left: 47px;
}

.ucnumber2 {
    margin-left: 48px;
}

.ucnumber1 {
    margin-left: 52px;
}

.ucnumber3 {
    margin-left: 50px;
}

.amount,
.amount1,
.amount2,
.amount3,
.amount4,
.amount5 {
    margin-left: 80px;
}

.ucenterbtn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 16px;
}

.ucentertd {
    margin-left: 170px;
}

.hiddenuc,
.hiddenuc1,
.hiddenuc2,
.hiddenuc3,
.hiddenuc4,
.hiddenuc5 {
    display: none;
}

.uctd1,
.uctd2 {
    margin-left: -17px;
}

.uctd3 {
    margin-left: -19px;
}

.uctd4 {
    margin-left: -22.5px;
}

.uctd5 {
    margin-left: -25.5px;
}

.hiddenlist {
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 600px) {

    /* header hisesi */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        display: flex;
        gap: 20px;
        background-color: #f5f5f5;
        height: 35px;
        padding-top: 27px;
        width: 104%;
        margin-top: -10px;
    }

    .ri-menu-5-fill {
        margin-top: -23px;
        margin-left: 10px;
        font-size: 20px;
        display: block;
    }

    .userline {
        margin-left: 70px;
    }

    .hiddenlist {
        background-color: bisque;
        position: absolute;
        z-index: 2;
        margin-top: -85px;
        margin-left: -7px;
    }

    .gamename1 {
        display: block;
        color: orange;
        font-size: 21px;
        margin-left: 3%;
        margin-top: -25px;
        width: 120px;
    }

    .ri-user-line {
        display: block;
        margin-left: 25%;
        font-size: 20px;
        margin-top: -22px;
    }

    .button {
        display: none;
    }

    .news,
    .accounts {
        display: none;
    }

    .mood {
        margin-left: -95px;
        margin-top: -21px;
    }

    .backmood {
        width: 40px;
        height: 20px;
        padding-top: -5px;
    }

    .ri-moon-fill {
        font-size: 10px;
        margin-left: -4px;
    }

    .ri-sun-line {
        font-size: 13px;
        font-weight: 900;
    }

    .hiddenbalance {
        display: block;
        margin-left: -3px;
        margin-top: 15px;
    }

    .balancebtn1 {
        display: block;
        width: 70px;
        font-size: 11px;
        height: 30px;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        box-shadow: none;
    }

    .playerbtn {
        box-shadow: none;
        width: 70px;
        height: 30px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        font-size: 11px;
        padding-top: -20px;
        margin-top: 1px;
        margin-left: -5px;
    }

    .ri-shopping-basket-fill {
        display: none;
    }

    .ri-add-line {
        display: none;
    }

    .gamename {
        display: none;
    }

    .searce {
        width: 100px;
        height: 30px;
        margin-top: -70px;
        margin-left: 100px;
    }

    .searcebtn {
        display: none;
    }

    .ri-search-line {
        font-size: 10px;
        margin-left: -5px;
    }

    .playerbtn {
        display: block;
    }

    .player {
        margin-left: 10%;
        margin-top: -70px;
    }

    .balancebtn {
        display: none;
    }

    .main {
        display: none;
    }

    .hiddensearce {
        width: 115px;
        margin-top: -93px;
        margin-left: -50px;
    }

    .games ul li a, .hiddensearce ul li a{
        font-size: 15px;
    }

    .ri-corner-right-up-fill {
        margin-left: 3px;
    }

    .texthidden {
        font-size: 12px;
        margin-left: 225px;
        width: 60px;
    }

    .texthidden p {
        margin-left: -18px;
    }

    .hiddenlist {
        width: 150px;
    }

    .hiddensearce ul li {
        font-size: 13px;
        margin-left: -12px;
    }

    .hiddensearce ul {
        margin-top: 3px;
    }

    /* mainhisesi */

    .backrules {
        width: 106%;
    }

    .gamessell1 {
        margin-left: -5px;
        width: 99%;
        margin-top: 2px;
        padding-left: 30px;
    }

    .ri-discord-fill {
        font-size: 27px;
    }

    .play {
        font-size: 20px;
    }

    /* mainhisesi */

    .uc60 {
        margin-left: 0px;
        width: 98%;
        display: block;
        margin-top: 20px;
        height: 250px;
        box-shadow: none;
    }

    .pubguc {
        width: 100px;
        height: 160px;
        margin-left: 5px;
        margin-top: 10px;
    }

    #pubguc {
        font-size: 16px;
        margin-left: 110px;
        margin-top: -160px;
    }

    .ucprice {
        font-size: 20px;
        margin-left: 140px;
        margin-top: -5px;
    }

    .ucspan {
        font-size: 19px;
    }

    .ucinput,
    .ucinput1,
    .ucinput2,
    .ucinput3,
    .ucinput4,
    .ucinput5 {
        margin-left: 5px;
        margin-top: 10px;
    }

    .ucselect,
    .ucselect1,
    .ucselect2,
    .ucselect3,
    .ucselect4,
    .ucselect5 {
        margin-top: -70px;
        margin-left: 30px;
        font-size: 15px;
        height: 40px;
    }

    .ucbtn,
    .ucbtn1,
    .ucbtn2,
    .ucbtn3,
    .ucbtn4,
    .ucbtn5 {
        width: 60px;
        height: 40px;
        margin-top: -70px;
    }

    .uc60:hover {
        margin-left: 1px;
    }

    .hiddenuc:hover,
    .hiddenuc1:hover,
    .hiddenuc2:hover,
    .hiddenuc3:hover,
    .hiddenuc4:hover,
    .hiddenuc5:hover {
        margin-left: 1px;
    }

    .hiddenuc,
    .hiddenuc1,
    .hiddenuc2,
    .hiddenuc3,
    .hiddenuc4,
    .hiddenuc5 {
        display: none;
        margin-left: 3px;
        height: 400px;
        background-color: #f5f5f5;
        width: 100%;
        box-shadow: none;
    }

    .ucvalyuta,
    .ucvalyuta1,
    .ucvalyuta2,
    .ucvalyuta3,
    .ucvalyuta4,
    .ucvalyuta5 {
        margin-top: -120px;
        margin-left: -335px;
    }

    .uctd,
    .uctd1,
    .uctd2,
    .uctd3,
    .uctd4,
    .uctd5 {
        margin-left: 23.5px;
    }

    .pubgvalyuta {
        margin-top: 130px;
        margin-left: -350px;
    }

    .pubgname,
    .uctd,
    .uctd1,
    .uctd2,
    .uctd3,
    .uctd4,
    .uctd5 {
        margin-top: -220px;
    }

    .pubgmebleg {
        margin-left: -5px;
        margin-top: 130px;
    }

    .ucprize,
    .ucprize1,
    .ucprize2,
    .ucprize3,
    .ucprize4,
    .ucprize5 {
        margin-left: 23px;
        margin-top: -120px;
    }

    .pubgname {
        margin-left: 27px;
    }

    .pubgsayi {
        margin-top: 230px;
        margin-left: -360px;
    }

    .ucnumber,
    .ucnumber1,
    .ucnumber2,
    .ucnumber3,
    .ucnumber4,
    .ucnumber5 {
        margin-left: -338px;
        margin-top: -20px;
    }

    .pubgyekunmebleg {
        margin-top: 230px;
        margin-left: 20px;
    }

    .amount,
    .amount1,
    .amount2,
    .amount3,
    .amount4,
    .amount5 {
        margin-left: 40px;
    }

    .ucenterbtn,
    .ucenterbtn1 {
        margin-top: 50px;
        margin-left: -460px;
    }

    .ucentertd4 {
        margin-left: 170px;
    }

    tr {
        width: 200px;
    }

    /* xeberlerhisesi */

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 130px;
        height: 140px;
    }

    .servicesboxs {
        margin-top: -40px;
    }

    #services2 {
        margin-left: 15px;
        margin-top: 10px;
    }

    #services3 {
        margin-left: -35px;
        margin-top: 10px;
    }

    #services4 {
        margin-left: -333px;
        margin-top: 170px;
    }

    #services5 {
        margin-top: 173px;
        margin-left: -35px;
    }

    #jeticon1 {
        width: 40px;
        height: 40px;
        margin-top: -20px;
    }

    .ri-arrow-right-up-line,
    .ri-vip-fill,
    .ri-shield-fill,
    .ri-money-dollar-circle-fill {
        font-size: 26px;
    }

    .ri-money-dollar-circle-fill {
        margin-top: -20px;
    }

    #basliqxitmet1 {
        font-size: 15px;
        margin-top: 10px;
        margin-left: -40px;
        width: 112px;
    }

    #basliqxitmet2 {
        font-size: 12px;
        margin-left: -50px;
        margin-top: 15px;
        width: 130px;
    }

    #textxidmet1 {
        font-size: 13px;
        margin-left: -51px;
        margin-top: -7px;
        width: 130px;
    }

    #textxidmet2 {
        font-size: 12px;
        margin-left: -51px;
        margin-top: -7px;
        width: 145px;
    }

    .servicesboxs {
        margin-left: -10px;
        width: 106%;
    }

    /* foots */

    .elvingame {
        margin-left: -35px;
    }

    .foot {
        margin-top: 40px;
        width: 105%;
        height: 1150px;
        display: block;
    }

    .textfoot {
        width: 280px;
        font-size: 21px;
    }

    .footbasliq {
        margin-left: 40px;
        font-size: 29px;
        width: 200px;
    }

    .footlist {
        font-size: 20px;
        margin-left: -10px;
        width: 200px;
    }

    .footsira {
        font-size: 20px;
        margin-left: -7px;
        font-weight: 900;
    }

    #footbolmeler {
        margin-top: -40px;
    }

    #foots {
        font-size: 20px;
    }

    .footabune {
        font-size: 30px;
        margin-left: 55px;
        width: 200px;

    }

    .textfoot1 {
        font-size: 25px;
    }

    .inputfoot {
        height: 40px;
        width: 270px;
        font-size: 17px;
    }

    .footbtn {
        margin-top: 20px;
    }

    .abunemesaage {
        margin-top: 20px;
        font-size: 17px;
    }

    .theend {
        width: 106%;
        display: block;
    }

    .facebook,
    .instagram {
        width: 30px;
        height: 30px;
    }

    .facebook {
        margin-left: 10px;
    }

    .instagram {
        margin-left: 20px;
    }

    .endtext {
        font-size: 17px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 450px) and (max-width: 600px) {

    /* .headerhisesi */

    .gamename1 {
        margin-left: 20%;
    }

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        width: 106%;
    }

    .ri-user-line {
        margin-left: 230px;
    }

    .userline {
        margin-left: -20%;
    }

    .hiddenbalance {
        display: block;
        margin-left: -3px;
        margin-top: 15px;
    }

    .balancebtn1 {
        display: block;
        width: 65px;
        font-size: 12px;
        padding-left: 5px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
    }

    .ri-add-line {
        display: none;
    }

    .searce {
        margin-left: 160px;
    }

    .player {
        margin-left: 110px;
    }

    .hiddensearce {
        margin-left: -62px;
    }

    .texthidden {
        margin-left: 365px;
    }

    .gamessell1 {
        width: 99%;
    }

    /* .servicesboxs{
        margin-top: 300px;
    } */

}

@media screen and (min-width: 601px) and (max-width: 991px) {

    /* .headerhisesi */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        display: flex;
        gap: 20px;
        background-color: #f5f5f5;
        height: 45px;
        padding-top: 27px;
        width: 103%;
        margin-top: -10px;
    }

    .ri-menu-5-fill {
        margin-top: -23px;
        margin-left: 13px;
        font-size: 26px;
        display: block;
    }

    .userline {
        margin-left: 187px;
    }

    .gamename1 {
        display: block;
        color: orange;
        font-size: 30px;
        margin-left: 17%;
        margin-top: -25px;
        width: 200px;
    }

    .ri-user-line {
        display: block;
        margin-left: 25%;
        font-size: 25px;
        margin-top: -22px;
    }

    .button {
        display: none;
    }

    .news,
    .accounts {
        display: none;
    }

    .mood {
        margin-left: -95px;
        margin-top: -21px;
    }

    .backmood {
        width: 45px;
        height: 30px;
        padding-top: -5px;
        margin-left: -70px;
    }

    .ri-moon-fill {
        font-size: 13px;
        margin-left: -4px;
    }

    .ri-sun-line {
        font-size: 15px;
        font-weight: 900;
    }

    .hiddenbalance {
        display: block;
        margin-left: -3px;
        margin-top: 15px;
    }

    .balancebtn1 {
        display: block;
        width: 130px;
        font-size: 15px;
        height: 40px;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        box-shadow: none;
    }

    .playerbtn {
        box-shadow: none;
        width: 130px;
        height: 40px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        font-size: 15px;
        padding-top: -20px;
        margin-top: -10px;
        margin-left: 20px;
    }

    .ri-shopping-basket-fill {
        display: none;
    }

    .ri-add-line {
        display: none;
    }

    .gamename {
        display: none;
    }

    .searce {
        width: 173px;
        height: 40px;
        margin-top: -80px;
        margin-left: 220px;
    }

    .searcebtn {
        display: none;
    }

    .ri-search-line {
        font-size: 10px;
        margin-left: -5px;
    }

    .playerbtn {
        display: block;
    }

    .player {
        margin-left: 10%;
        margin-top: -70px;
    }

    .balancebtn {
        display: none;
    }

    .main {
        display: none;
    }

    .hiddensearce {
        width: 165px;
        margin-top: -75px;
        margin-left: -75px;
    }

    .games ul li a, .hiddensearce ul li a{
        font-size: 15px;
    }

    .ri-corner-right-up-fill {
        margin-left: 3px;
    }

    .texthidden {
        font-size: 12px;
        margin-left: 480px;
        width: 60px;
    }

    .texthidden p {
        margin-left: -18px;
    }

    .hiddenlist {
        width: 150px;
        position: absolute;
        z-index: 1;
        background-color: bisque;
        margin-top: -95px;
        margin-left: -7px;
    }

    .hiddensearce ul li {
        font-size: 13px;
        margin-left: -12px;
    }

    .hiddensearce ul {
        margin-top: 3px;
    }

    .gamessell1 {
        margin-left: 3px;
        width: 99%;
        margin-top: 2px;
        padding-left: 30px;
    }

    .backrules {
        width: 102%;
    }

    /* mainhisesi */

    .uc60 {
        margin-left: 0px;
        width: 98%;
        display: block;
        margin-top: 20px;
        height: 250px;
        box-shadow: none;
    }

    .pubguc {
        width: 100px;
        height: 160px;
        margin-left: 5px;
        margin-top: 10px;
    }

    #pubguc {
        font-size: 19px;
        margin-left: 230px;
        margin-top: -160px;
    }

    .ucprice {
        font-size: 20px;
        margin-left: 140px;
        margin-top: -5px;
    }

    .ucspan {
        font-size: 19px;
    }

    .ucinput,
    .ucinput1,
    .ucinput2,
    .ucinput3,
    .ucinput4,
    .ucinput5 {
        margin-left: 130px;
        margin-top: 10px;
    }

    .ucselect,
    .ucselect1,
    .ucselect2,
    .ucselect3,
    .ucselect4,
    .ucselect5 {
        margin-top: -70px;
        margin-left: 110px;
        font-size: 15px;
        height: 40px;
    }

    .ucbtn,
    .ucbtn1,
    .ucbtn2,
    .ucbtn3,
    .ucbtn4,
    .ucbtn5 {
        width: 60px;
        height: 40px;
        margin-top: -70px;
        margin-left: 100px;
    }

    .uc60:hover {
        margin-left: 1px;
    }

    .hiddenuc:hover,
    .hiddenuc1:hover,
    .hiddenuc2:hover,
    .hiddenuc3:hover,
    .hiddenuc4:hover,
    .hiddenuc5:hover {
        margin-left: 1px;
    }

    .hiddenuc,
    .hiddenuc1,
    .hiddenuc2,
    .hiddenuc3,
    .hiddenuc4,
    .hiddenuc5 {
        display: none;
        margin-left: 3px;
        height: 280px;
        background-color: white;
        width: 100%;
        box-shadow: none;
    }

    .ucvalyuta,
    .ucvalyuta1,
    .ucvalyuta2,
    .ucvalyuta3,
    .ucvalyuta4,
    .ucvalyuta5 {
        margin-top: -130px;
        margin-left: 175px;
    }

    .uctd,
    .uctd1,
    .uctd2,
    .uctd3,
    .uctd4,
    .uctd5 {
        margin-left: -20px;
    }

    .pubgvalyuta {
        margin-top: 27px;
        margin-left: 160px;
    }

    #pubgprize {
        margin-left: 300px;
        margin-top: -47px;
    }

    #pubgazn {
        margin-left: 480px;
        margin-top: -45px;
    }

    .pubgname,
    .uctd,
    .uctd1,
    .uctd2,
    .uctd3,
    .uctd4,
    .uctd5 {
        margin-top: -130px;
    }

    .pubgmebleg {
        margin-left: -360px;
        margin-top: 27px;
    }

    .ucprize,
    .ucprize1,
    .ucprize2,
    .ucprize3,
    .ucprize4,
    .ucprize5 {
        margin-left: -335px;
        margin-top: -130px;
    }

    .pubgname {
        margin-left: 27px;
    }

    .pubgsayi {
        margin-top: 150px;
        margin-left: -475px;
    }

    .ucnumber,
    .ucnumber1,
    .ucnumber2,
    .ucnumber3,
    .ucnumber4,
    .ucnumber5 {
        margin-left: -450px;
        margin-top: -7px;
    }

    .mobileuc {
        margin-left: -15px;
    }

    .pubgyekunmebleg {
        margin-top: 140px;
        margin-left: 20px;
    }

    .amount,
    .amount1,
    .amount2,
    .amount3,
    .amount4,
    .amount5 {
        margin-left: 40px;
    }

    .ucenterbtn,
    .ucenterbtn1 {
        margin-top: -10px;
        margin-left: -150px;
    }

    .ucentertd4 {
        margin-left: 170px;
    }

    tr {
        width: 200px;
    }

    /* xeberler */

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 150px;
        height: 140px;
    }

    #services2 {
        margin-left: 20px;
        margin-top: 15px;
    }

    #services3 {
        margin-left: 5px;
        margin-top: 15px;
    }

    #services4 {
        margin-left: -415px;
        margin-top: 180px;
    }

    #services5 {
        margin-top: 15px;
        margin-left: 220px;
    }

    #jeticon1 {
        width: 40px;
        height: 40px;
        margin-top: -20px;
    }

    .ri-arrow-right-up-line,
    .ri-vip-fill,
    .ri-shield-fill,
    .ri-money-dollar-circle-fill {
        font-size: 26px;
    }

    .ri-money-dollar-circle-fill {
        margin-top: -20px;
    }

    #basliqxitmet1 {
        font-size: 15px;
        margin-top: 10px;
        margin-left: -30px;
        width: 112px;
    }

    #basliqxitmet2 {
        font-size: 12px;
        margin-left: -50px;
        margin-top: 15px;
        width: 121px;
    }

    #textxidmet1 {
        font-size: 13px;
        margin-left: -51px;
        margin-top: -7px;
        width: 132px;
    }

    #textxidmet2 {
        font-size: 12px;
        margin-left: -51px;
        margin-top: -7px;
        width: 139px;
    }

    .servicesboxs {
        margin-left: -10px;
        width: 102.5%;
    }

    .new {
        margin-top: 300px;
    }

    /* foothisesi */


    .elvingame {
        margin-left: -80px;
        margin-top: -10px;
    }

    .foot {
        margin-top: 40px;
        width: 102.5%;
        height: 800px;
        display: block;
    }

    .gamestore {
        font-size: 31px;
    }

    .textfoot {
        width: 575px;
        font-size: 22px;
    }

    .footbasliq {
        margin-left: 220px;
        font-size: 29px;
        margin-top: 70px;
    }

    .footlist {
        font-size: 20px;
        margin-left: -10px;
    }

    .footsira {
        font-size: 20px;
        margin-left: -7px;
        font-weight: 900;
        margin-top: 35px;
    }

    #footbolmeler {
        margin-top: -160px;
        margin-left: 290px;
    }

    #foots {
        font-size: 20px;
    }

    .footabune {
        font-size: 30px;
        margin-left: 1px;
        margin-top: 80px;
    }

    .textfoot1 {
        font-size: 25px;
        width: 570px;
    }

    .inputfoot {
        height: 40px;
        width: 270px;
        font-size: 17px;
    }

    .footbtn {
        margin-top: -10px;
    }

    .abunemesaage {
        margin-top: 20px;
        font-size: 20px;
    }

    .theend {
        width: 106%;
        display: block;
        width: 100%;
    }

    .facebook,
    .instagram {
        width: 30px;
        height: 30px;
    }

    .facebook {
        margin-left: 10px;
    }

    .instagram {
        margin-left: 20px;
    }

    .endtext {
        font-size: 17px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 751px) and (max-width: 991px) {

    /* .header hisesi */

    .gamename1 {
        font-size: 35px;
        width: 250px;
    }

    .began {
        width: 102.5%;
    }

    .userline {
        margin-left: 250px;
        margin-top: 4px;
    }

    .backmood {
        margin-left: -50px;
    }

    .searce {
        margin-left: 240px;
    }

    .playerbtn {
        margin-left: 40px;
    }

    .hiddensearce {
        margin-left: -128px;
        width: 180px;
    }

    .hiddenlist {
        margin-top: -100px;
    }

    .texthidden {
        margin-left: 550px;
    }

    /* mainhisesi */


    /* xeberler */

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 180px;
        height: 140px;
    }

    #textxidmet1 {
        width: 160px;
        margin-left: -60px;
    }

    #textxidmet2 {
        width: 180px;
        margin-left: -65px;
        font-size: 11px;
        margin-top: 20px;
    }

    #services4 {
        margin-left: -448px;
    }

    #services3 {
        margin-left: 90px;
    }

    #services5 {
        margin-left: 350px;
    }

    /* foothisesi */

    .servicesboxs {
        gap: 1px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1400px) {

    /* .headerhissesi */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        width: 101.5%;
    }

    .news {
        margin-left: -5px;
    }

    .news,
    .accounts {
        font-size: 14px;
    }

    .mood {
        margin-top: -5px;
    }

    .backmood {
        width: 60px;
        height: 25px;
        margin-left: -200px;
    }

    .ri-moon-fill {
        font-size: 13px;
    }

    .ri-sun-line {
        font-size: 14px;
    }

    .button {
        margin-top: -5px;
    }

    .entry {
        width: 70px;
        height: 30px;
        margin-left: -100px;
    }

    .note {
        width: 70px;
        height: 30px;
    }

    .gamename {
        margin-left: 15px;
        margin-top: -25px;
    }

    .searce {
        width: 170px;
        height: 35px;
        margin-top: -10px;
        margin-left: 80px;
    }

    .searcebtn {
        margin-top: -5px;
        width: 23px;
        height: 23px;
        margin-left: -30px;

    }

    .ri-search-line {
        margin-left: -3px;
    }

    .playerbtn {
        width: 150px;
        height: 30px;
        font-size: 14px;
        padding-left: 40px;
        margin-left: -70px;
        margin-top: -13px;
    }

    .balancebtn {
        width: 150px;
        height: 30px;
        font-size: 14px;
        padding-left: 40px;
    }

    .hiddensearce{
        width: 167px;
        margin-left: -140px;
        margin-top: -20px;
    }

    .texthidden {
        margin-left: 660px;
    }

    .ri-corner-right-up-fill {
        margin-left: 700px;
    }

    .games{
        margin-left: 10px;
        margin-top: 4px;
        width: 160px;
    }

    .games ul li a, .hiddensearce ul li a{
        font-size: 15px;
    }

    .ri-add-line {
        font-size: 20px;
    }

    .player {
        margin-left: 200px;
        margin-top: -5px;
    }

    .category {
        width: 150px;
        font-size: 15px;
        height: 35px;
        margin-left: 20px;
    }

    .home,
    .game,
    .payy,
    .rule,
    .aboutme,
    .connection {
        font-size: 17px;
    }

    .home {
        margin-left: 50px;
    }

    .gamessell1 {
        margin-left: 3px;
        width: 100%;
    }

    .backrules {
        width: 101%;
    }

    .ri-menu-5-fill {
        display: none;
    }

    /* mainhisesi */

    .uc60 {
        margin-left: 0px;
        width: 98%;
        display: block;
        margin-top: 20px;
        height: 200px;
        box-shadow: none;
    }

    .pubguc {
        width: 100px;
        height: 160px;
        margin-left: 5px;
        margin-top: 10px;
    }

    #pubguc {
        font-size: 19px;
        margin-left: 130px;
        margin-top: -120px;
    }

    .ucprice {
        font-size: 20px;
        margin-left: 450px;
        margin-top: -45px;
    }

    .ucspan {
        font-size: 19px;
    }

    .ucinput,
    .ucinput1,
    .ucinput2,
    .ucinput3,
    .ucinput4,
    .ucinput5 {
        margin-left: 130px;
        margin-top: 10px;
    }

    .ucselect,
    .ucselect1,
    .ucselect2,
    .ucselect3,
    .ucselect4,
    .ucselect5 {
        margin-top: -70px;
        margin-left: 110px;
        font-size: 15px;
        height: 40px;
    }

    .ucbtn,
    .ucbtn1,
    .ucbtn2,
    .ucbtn3,
    .ucbtn4,
    .ucbtn5 {
        width: 60px;
        height: 40px;
        margin-top: -70px;
        margin-left: 100px;
    }

    .uc60:hover {
        margin-left: 1px;
    }

    .hiddenuc:hover,
    .hiddenuc1:hover,
    .hiddenuc2:hover,
    .hiddenuc3:hover,
    .hiddenuc4:hover,
    .hiddenuc5:hover {
        margin-left: 1px;
    }

    .hiddenuc,
    .hiddenuc1,
    .hiddenuc2,
    .hiddenuc3,
    .hiddenuc4,
    .hiddenuc5 {
        display: none;
        margin-left: 3px;
        height: 220px;
        background-color: white;
        width: 100%;
        box-shadow: none;
    }

    .ucvalyuta,
    .ucvalyuta1,
    .ucvalyuta2,
    .ucvalyuta3,
    .ucvalyuta4,
    .ucvalyuta5 {
        margin-top: -7px;
        margin-left: 175px;
    }

    .uctd,
    .uctd1,
    .uctd2,
    .uctd3,
    .uctd4,
    .uctd5 {
        margin-left: -20px;
    }

    .pubgvalyuta {
        margin-top: 27px;
        margin-left: 160px;
    }

    #pubgprize {
        margin-left: 650px;
        margin-top: -47px;
    }

    #pubgazn {
        margin-left: 850px;
        margin-top: -45px;
    }

    .pubgname,
    .uctd,
    .uctd1,
    .uctd2,
    .uctd3,
    .uctd4,
    .uctd5 {
        margin-top: -7px;
    }

    .pubgmebleg {
        margin-left: -360px;
        margin-top: 27px;
    }

    .ucprize,
    .ucprize1,
    .ucprize2,
    .ucprize3,
    .ucprize4,
    .ucprize5 {
        margin-left: -335px;
        margin-top: -7px;
    }

    .pubgname {
        margin-left: 27px;
    }

    .pubgsayi {
        margin-top: 30px;
        margin-left: 200px;
    }

    .ucnumber,
    .ucnumber1,
    .ucnumber2,
    .ucnumber3,
    .ucnumber4,
    .ucnumber5 {
        margin-left: 225px;
        margin-top: -7px;
    }

    .mobileuc {
        margin-left: -15px;
    }

    .pubgyekunmebleg {
        margin-top: 20px;
        margin-left: 10px;
    }

    .amount,
    .amount1,
    .amount2,
    .amount3,
    .amount4,
    .amount5 {
        margin-left: 35px;
        margin-top: 3px;
    }

    .ucenterbtn1 {
        margin-top: 60px;
        margin-left: -750px;
    }

    .ucentertd {
        margin-top: 80px;
        margin-left: -650px;
    }

    .ucentertd4 {
        margin-top: 80px;
        margin-left: -650px;
    }

    tr {
        width: 200px;
    }

    /* xeberlerhisesi */

    .new {
        margin-top: 300px;
        width: 100%;
    }

    .servicesboxs {
        gap: 0px;
    }

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 260px;
    }

    #services2 {
        margin-left: -150px;
    }

    #services3 {
        margin-left: 70px;
    }

    #services4 {
        margin-left: 73px;
    }

    #services5 {
        margin-top: 300px;
        margin-left: -925px;
    }

    #textxidmet1 {
        width: 250px;
        margin-left: -95px;
    }

    #textxidmet2 {
        width: 300px;
        margin-left: -95px;
    }

    /* foothisesi */

    .foot{
        margin-top: 250px;
        width: 101.4%;
        display: block;
        height: 840px;
    }

    .elvingame{
        margin-left: -130px;
        margin-top: -25px;
    }

    .gamestore{
        font-size: 32px;
    }

    .textfoot{
        width: 900px;
        font-size: 25px;
    }

    .footbasliq{
        margin-top: 100px;
        margin-left: 285px;
        font-size: 32px;
    }

    .footsira{
        margin-left: 450px;
        margin-top: -185px;
    }

    .footabune{
        margin-top: 80px;
        font-size: 32px;
        margin-left: 320px;
    }

    .textfoot1{
        font-size: 32px;
        width: 900px;
    }

    .abunemesaage{
        margin-left: 450px;
        margin-top: -40px;
    }

    .endtext{
        margin-left: 20px;
    }

    #istagramid{
        margin-left: 20px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    /* .headerhisse */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }


    .button {
        margin-left: 150px;
    }

    .backmood{
        margin-left: -10px;
    }

    .searce{
        margin-left: 200px;
    }

    .player{
        margin-left: 300px;
    }

    .home, .game, .payy, .aboutme, .rule, .connection{
        margin-left: 85px;
    }

    .hiddensearce{
        margin-left: -130px;
        width: 180px;
    }

    .texthidden{
        margin-left: 875px;
    }

    .ri-corner-right-up-fill{
        margin-left: 915px;
    }

    /* mainhisesi */


    /* xeberlerhisesi */

    #services2, #services3, #services4, #services5{
        width: 300px;
    }

    #services2{
        margin-left: -190px;
    }

    #services3{
        margin-left: 150px;
    }

    #services4{
        margin-left: 150px;
    }

    #services5{
        margin-left: -1200px;
    }

    #textxidmet1{
        width: 300px;
        margin-left: -110px;
    }
}