@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.answer p, .answer1 p, .answer2 p {
    font-size: 21px;
}

*{
    box-sizing: border-box;
}

.news {
    margin-left: 18%;
}

.footlist, .footsira1{
    font-size: 25px;
    font-weight: 700;
}

.gamestore{
    font-size: 25px;
}

.began {
    display: flex;
    gap: 20px;
    background-color: #f5f5f5;
    height: 80px;
    padding-top: 27px;
    margin-left: -10px;
    width: 102.5%;
    margin-top: -10px;
}

.elvingame {
    margin-left: 2%;
}

.mood {
    margin-left: 30%;
}

.backmood {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 3px solid orange;
    box-shadow: 10px 5px 5px orange;
}

.button {
    margin-left: 15px;
}

.entry {
    background-color: orange;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 3px solid orange;
}

.note {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 100px;
    margin-left: 10px;
    height: 30px;
    border: 3px solid black;
}

.header {
    display: flex;
    padding-top: 40px;
    margin-left: -10px;
    width: 100%;
}

.gamename {
    color: orange;
    font-size: 45px;
    margin-left: 385px;
    margin-top: 5px;
}

.searce {
    width: 250px;
    height: 50px;
    border: 3px solid orange;
    border-radius: 10px;
    color: black;
    outline: none;
    padding-left: 10px;
    margin-left: 20%;
}

.searcebtn {
    height: 30px;
    background-color: orange;
    color: white;
    border-radius: 20px;
    border: 3px solid orange;
    width: 30px;
    margin-left: -45px;
    margin-top: 12px;
}

.player {
    margin-left: 18%;
}

.playerbtn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid orange;
    color: black;
    background-color: white;
    box-shadow: 10px 5px 5px orange;
}

.balancebtn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid orange;
    color: black;
    background-color: white;
    margin-left: 15px;
    box-shadow: 10px 5px 5px orange;
}

.ri-shopping-basket-fill {
    font-size: 20px;
    margin-left: -50px;
    color: orange;
}

.ri-add-line {
    font-size: 25px;
    margin-left: -70px;
    color: orange;
}

.main {
    border: none;
    background-color: white;
    display: flex;
    color: black;
    margin-left: -10px;
    width: 100%;
}

.category {
    width: 250px;
    height: 50px;
    border: 3px solid orange;
    background-color: orange;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 19px;
    margin-left: 17%;
}

.home {
    margin-left: 10%;
    font-size: 20px;
    margin-top: 12px;
}

.game,
.payy,
.rule,
.aboutme,
.connection {
    margin-left: 5%;
    font-size: 20px;
    margin-top: 12px;
}

.games {
    width: 242.5px;
    margin-left: 16.6%;
    margin-top: -2px;
    height: 135px;
    overflow: auto;
    position: absolute;
    z-index: 2;
    display: none;
    background-color: white;
    border: 3px solid orange;
}

::-webkit-scrollbar {
    background-color: orange;
    width: 8px;
}

li {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.freehome {
    margin-left: 17%;
    width: 1060px;
    height: 400px;
    border-radius: 25px;
    margin-top: 100px;
}

.cards {
    margin-left: 68%;
    margin-top: -480px;
}


.bank,
.balans {
    height: 190px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    filter: brightness(110%);
}

.bank {
    margin-top: 85px;
    margin-left: 10px;
}

.balans {
    margin-top: 5px;
    filter: brightness(130%);
    margin-left: 10px;
}

.ri-arrow-left-circle-fill {
    font-size: 50px;
    margin-left: 15%;
    position: absolute;
    top: 52.7%;
    color: orange;
}

.ri-arrow-right-circle-fill {
    font-size: 50px;
    color: orange;
}

.gorsel1 {
    border: 2.5px solid orange;
    background-color: white;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
    bottom: 40px;
    left: 36%;
    border-radius: 50%;
}

.sell {
    background-color: #eaeaea;
    border: none;
    height: 475px;
    padding-top: 10px;
    margin-left: -10px;
    width: 102.5%;
}

.gamessell {
    border: none;
    width: 1523px;
    height: 60px;
    background-color: orange;
    margin-left: 17%;
    border-radius: 10px;
    display: flex;
    gap: 30px;
}

.gamessell1 {
    border: none;
    width: 1525px;
    height: 60px;
    background-color: orange;
    margin-left: 16.5%;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

.ri-shopping-cart-fill,
.ri-newspaper-fill {
    color: white;
    font-size: 30px;
    margin-left: 22px;
    margin-top: 14px;
}

.play {
    margin-top: 16px;
    color: white;
    font-size: 25px;
}

.pubgfoto,
.freefrifoto,
.tiktokfoto,
.valorantfoto,
.efutbollfoto,
.pointblankfoto,
.calldutyfoto,
.netflixfoto,
.spotifyfoto {
    width: 243px;
    border-radius: 15px;
    margin-left: -7px;
    margin-top: -6.5px;
}

.netflixfoto{
    height: 138px;
}

.tiktokfoto{
    height: 132px;
    margin-top: -2.5px;
}

.valorant{
    height: 132px;
}

.pointblankfoto{
    height: 135px;
}


.mobilefoto {
    margin-left: 17%;
    margin-top: 2%;
    background-color: white;
    width: 250px;
    height: 150px;
    padding-left: 10px;
    padding-top: 12px;
    border-radius: 15px;
}

.mobilefoto:hover,
.freefoto:hover,
.tictocfoto:hover,
.valorant:hover,
.efutboll:hover,
.pointblank:hover,
.callduty:hover,
.netflix:hover,
.netflix1:hover,
.spotify:hover {
    background-color: orange;
    position: relative;
    top: -15px;
}

.gamesfoto {
    display: flex;
    gap: 55px;
}

.freefoto,
.tictocfoto,
.valorant,
.efutboll,
.pointblank,
.callduty,
.netflix,
.netflix1,
.spotify {
    margin-top: 2%;
    background-color: white;
    width: 250px;
    height: 150px;
    padding-left: 10px;
    padding-top: 12px;
    border-radius: 15px;
}


.gamesfoto1 {
    margin-left: 17%;
    display: flex;
    gap: 55px;
}

.spotifyfoto {
    width: 233px;
    margin-left: -2px;
    margin-top: -5px;
    height: 135px;
}

.new {
    margin-left: -10px;
    width: 100%;
    margin-top: 100px;
}

.services {
    border: none;
    background-color: #eaeaea;
    width: 300px;
    height: 180px;
    margin-left: 17.2%;
    margin-top: 25px;
    border-radius: 10px;
    padding-top: 30px;
}

.services1 {
    margin-top: 40px;
    border-radius: 10px;
    padding-top: 30px;
    border: none;
    background-color: #eaeaea;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    box-shadow: 10px 5px 5px orange;
}

.jeticon {
    border: 3px solid orange;
    width: 50px;
    height: 50px;
    padding-left: 1%;
    padding-top: 7.5px;
    border-radius: 100%;
    color: orange;
    margin-left: 38%;
}

.ri-shield-fill{
    margin-top: -10px;
    margin-left: 2.5px;
}

.ri-money-dollar-circle-fill{
    margin-left: 2.3px;
}

.ri-shield-fill,
.ri-vip-fill,
.ri-money-dollar-circle-fill {
    font-size: 35px;
}

.ri-send-plane-fill{
    font-size: 25px;
}

.basliqxidmet {
    margin-left: -40px;
    width: 123.8px;
    margin-top: 28px;
}

.textxidmet {
    width: 270px;
    margin-left: -110px;
}

.servicesboxs {
    display: flex;
    gap: 55px;
    margin-left: 17%;
    height: 300px;
}

.basliqmusteri {
    margin-left: -75px;
    width: 200px;
    margin-top: 30px;
}

.foot {
    background-color: #eaeaea;
    width: 102.5%;
    height: 330px;
    border: none;
    padding-top: 25px;
    display: flex;
    gap: 65px;
    margin-left: -10px;
    padding-left: 17%;
}

span{
    color: orange;
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
}

.textfoot {
    width: 440px;
    font-size: 21px;
}

.footsira {
    margin-top: 66px;
    margin-left: -35px;
}

.footbasliq {
    margin-left: 65%;
    font-size: 28px;
}

.textfoot1 {
    width: 270px;
    margin-top: 23px;
    font-size: 23px;
}

.inputfoot {
    height: 40px;
    width: 260px;
    border: 4px solid orange;
    border-radius: 15px;
    outline: none;
    color: black;
    padding-left: 15px;
}

.footbtn {
    color: white;
    background-color: orange;
    border: none;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-left: 10px;
}

.ri-arrow-right-up-line{
    font-size: 34px;
    margin-left: 3px;
    margin-top: -2px;
}

.theend {
    border: none;
    width: 100%;
    height: 108px;
    padding-top: 20px;
    display: flex;
    gap: 35px;
    margin-left: -10px;
}

.endtext {
    margin-left: 17%;
    font-size: 22px;
}

.facebook {
    margin-left: 45%;
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.instagram {
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.gorsel2 {
    border: 2.5px solid orange;
    background-color: white;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
    bottom: 59px;
    left: 48%;
    border-radius: 50%;
}

.ri-vip-fill{
    margin-left: 2.5px;
}

.gorsel3 {
    border: 2.5px solid orange;
    background-color: white;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
    bottom: 78px;
    left: 42%;
    border-radius: 50%;
}

a:hover {
    color: orange;
    transition: 0.7s;
}

.ri-sun-line {
    color: orange;
    font-size: 20px;
}

.div2 {
    margin-top: -30px;
    margin-left: -10px;
    width: 2200px;
}

.searcebtn,
.facebook,
.instagram,
.services1 {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.searcebtn:hover,
.facebook:hover,
.instagram:hover,
.services1:hover {
    transform: rotate(360deg);
}

.texthidden {
    border: none;
    width: 100px;
    margin-top: -15px;
    padding-left: 25px;
    color: white;
    background-color: orange;
    height: 20px;
    margin-left: 76.5%;
    position: relative;
    z-index: 1;
    padding-top: -10px;
    top: 31px;
    font-weight: 900;
    display: none;
}

.ri-corner-right-up-fill {
    margin-left: 78.2%;
    position: relative;
    top: 38px;
    font-size: 26px;
    color: orange;
    font-weight: 900;
    display: none;
}

.playerbtn:hover {
    background-color: orange;
    color: white;
}

.playerbtn:hover .ri-shopping-basket-fill {
    color: white;
}

.balancebtn:hover {
    background-color: orange;
    color: white;
}

.balancebtn:hover .ri-add-line {
    color: white;
}

.services1:hover {
    position: relative;
    top: -15px;
}

.playerbtn,
.balancebtn,
.gamename {
    transition: transform 0.5s ease;
}

.playerbtn:hover,
.balancebtn:hover,
.gamename:hover {
    transform: rotate(360deg);
}

.balans:hover,
.bank:hover {
    position: relative;
    top: -15px;
}

.ri-shopping-cart-fill,
.ri-bank-line,
.ri-question-line {
    color: white;
    font-size: 30px;
    margin-left: 22px;
    margin-top: 14px;
}

.hiddensearce {
    position: absolute;
    z-index: 2;
    background-color: palegoldenrod;
    color: black;
    min-height: 60px;
    max-height: 170px;
    width: 269px;
    left: 48.5%;
    border-radius: 15px;
    top: 178px;
    display: block;
    overflow: auto;
    display: none;
    margin-left: -45px;
}

.question {
    background-color: #f5f5f5;
    width: 1519px;
    min-height: 300px;
    max-height: 620px;
    margin-left: 17.2%;
    margin-top: 35px;
    border-radius: 10px;
    padding-top: 10px;
}

.questionboxs {
    background-color: white;
    width: 1460px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

input {
    box-shadow: 10px 5px 5px orange;
}

.problems,
.problems1,
.problems2 {
    padding-left: 15px;
    padding-top: 25px;
    background-color: white;
    display: flex;
}

.questiontext {
    font-size: 19px;
    margin-left: 20px;
    margin-top: -4px;
}

.problems:hover,
.problems1:hover,
.problems2:hover {
    background-color: #f5f5f5;
    padding-left: 35px;
    transition: 0.5s;
}

.answer,
.answer1,
.answer2 {
    padding-left: 15px;
    padding-top: 25px;
    background-color: white;
    margin-top: -15px;
    display: none;
}

.abunemesaage {
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 500;
    color: green;
    display: none;
    font-size: 22px;
}

.ri-list-check {
    font-size: 25px;
    display: none;
}

.ri-user-line {
    font-size: 25px;
    display: none;
}

.gamename1 {
    display: none;
}

.hiddenbalance {
    display: none;
}

.hiddenlist {
    display: none;
}