@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.answer p,
.answer1 p,
.answer2 p {
    font-size: 21px;
}

* {
    box-sizing: border-box;
}

.news {
    margin-left: 18%;
}

.footlist,
.footsira1 {
    font-size: 25px;
    font-weight: 700;
}

.gamestore {
    font-size: 25px;
}

.began {
    display: flex;
    gap: 20px;
    background-color: #f5f5f5;
    height: 80px;
    padding-top: 27px;
    margin-left: -10px;
    width: 102.5%;
    margin-top: -10px;
}

.elvingame {
    margin-left: 2%;
}

.mood {
    margin-left: 30%;
}

.backmood {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 3px solid orange;
    box-shadow: 10px 5px 5px orange;
}

.button {
    margin-left: 15px;
}

.entry {
    background-color: orange;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 3px solid orange;
}

.note {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 100px;
    margin-left: 10px;
    height: 30px;
    border: 3px solid black;
}

.header {
    display: flex;
    padding-top: 40px;
    margin-left: -10px;
    width: 100%;
}

.gamename {
    color: orange;
    font-size: 45px;
    margin-left: 385px;
    margin-top: 5px;
}

.searce {
    width: 250px;
    height: 50px;
    border: 3px solid orange;
    border-radius: 10px;
    color: black;
    outline: none;
    padding-left: 10px;
    margin-left: 20%;
}

.searcebtn {
    height: 30px;
    background-color: orange;
    color: white;
    border-radius: 20px;
    border: 3px solid orange;
    width: 30px;
    margin-left: -45px;
    margin-top: 12px;
}

.player {
    margin-left: 18%;
}

.playerbtn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid orange;
    color: black;
    background-color: white;
    box-shadow: 10px 5px 5px orange;
}

.balancebtn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid orange;
    color: black;
    background-color: white;
    margin-left: 15px;
    box-shadow: 10px 5px 5px orange;
}

.ri-shopping-basket-fill {
    font-size: 20px;
    margin-left: -50px;
    color: orange;
}

.ri-add-line {
    font-size: 25px;
    margin-left: -70px;
    color: orange;
}

.main {
    border: none;
    background-color: white;
    display: flex;
    color: black;
    margin-left: -10px;
    width: 100%;
}

.category {
    width: 250px;
    height: 50px;
    border: 3px solid orange;
    background-color: orange;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 19px;
    margin-left: 17%;
}

.home {
    margin-left: 10%;
    font-size: 20px;
    margin-top: 12px;
}

.game,
.payy,
.rule,
.aboutme,
.connection {
    margin-left: 5%;
    font-size: 20px;
    margin-top: 12px;
}

.games {
    width: 242.5px;
    margin-left: 16.6%;
    margin-top: -2px;
    height: 135px;
    overflow: auto;
    position: absolute;
    z-index: 2;
    display: none;
    background-color: white;
    border: 3px solid orange;
}

::-webkit-scrollbar {
    background-color: orange;
    width: 8px;
}

li {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.freehome {
    margin-left: 17%;
    width: 1060px;
    height: 400px;
    border-radius: 25px;
    margin-top: 100px;
}

.cards {
    margin-left: 68%;
    margin-top: -480px;
}


.bank,
.balans {
    height: 190px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    filter: brightness(110%);
}

.bank {
    margin-top: 85px;
    margin-left: 10px;
}

.balans {
    margin-top: 5px;
    filter: brightness(130%);
    margin-left: 10px;
}

.ri-arrow-left-circle-fill {
    font-size: 50px;
    margin-left: 15%;
    position: absolute;
    top: 52.7%;
    color: orange;
}

.ri-arrow-right-circle-fill {
    font-size: 50px;
    color: orange;
}

.gorsel1 {
    border: 2.5px solid orange;
    background-color: white;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
    bottom: 40px;
    left: 36%;
    border-radius: 50%;
}

.sell {
    background-color: #eaeaea;
    border: none;
    height: 475px;
    padding-top: 10px;
    margin-left: -10px;
    width: 102.5%;
}

.gamessell {
    border: none;
    width: 1523px;
    height: 60px;
    background-color: orange;
    margin-left: 17%;
    border-radius: 10px;
    display: flex;
    gap: 30px;
}

.gamessell1 {
    border: none;
    width: 1525px;
    height: 60px;
    background-color: orange;
    margin-left: 16.5%;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

.ri-shopping-cart-fill,
.ri-newspaper-fill {
    color: white;
    font-size: 30px;
    margin-left: 22px;
    margin-top: 14px;
}

.play {
    margin-top: 16px;
    color: white;
    font-size: 25px;
}

.pubgfoto,
.freefrifoto,
.tiktokfoto,
.valorantfoto,
.efutbollfoto,
.pointblankfoto,
.calldutyfoto,
.netflixfoto,
.spotifyfoto {
    width: 243px;
    border-radius: 15px;
    margin-left: -7px;
    margin-top: -6.5px;
}

.netflixfoto {
    height: 138px;
}

.tiktokfoto {
    height: 132px;
    margin-top: -2.5px;
}

.valorant {
    height: 132px;
}

.pointblankfoto {
    height: 135px;
}


.mobilefoto {
    margin-left: 17%;
    margin-top: 2%;
    background-color: white;
    width: 250px;
    height: 150px;
    padding-left: 10px;
    padding-top: 12px;
    border-radius: 15px;
}

.mobilefoto:hover,
.freefoto:hover,
.tictocfoto:hover,
.valorant:hover,
.efutboll:hover,
.pointblank:hover,
.callduty:hover,
.netflix:hover,
.netflix1:hover,
.spotify:hover {
    background-color: orange;
    position: relative;
    top: -15px;
}

.gamesfoto {
    display: flex;
    gap: 55px;
}

.freefoto,
.tictocfoto,
.valorant,
.efutboll,
.pointblank,
.callduty,
.netflix,
.netflix1,
.spotify {
    margin-top: 2%;
    background-color: white;
    width: 250px;
    height: 150px;
    padding-left: 10px;
    padding-top: 12px;
    border-radius: 15px;
}


.gamesfoto1 {
    margin-left: 17%;
    display: flex;
    gap: 55px;
}

.spotifyfoto {
    width: 233px;
    margin-left: -2px;
    margin-top: -5px;
    height: 135px;
}

.new {
    margin-left: -10px;
    width: 100%;
    margin-top: 100px;
}

.services {
    border: none;
    background-color: #eaeaea;
    width: 300px;
    height: 180px;
    margin-left: 17.2%;
    margin-top: 25px;
    border-radius: 10px;
    padding-top: 30px;
}

.services1 {
    margin-top: 40px;
    border-radius: 10px;
    padding-top: 30px;
    border: none;
    background-color: #eaeaea;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    box-shadow: 10px 5px 5px orange;
}

.jeticon {
    border: 3px solid orange;
    width: 50px;
    height: 50px;
    padding-left: 1%;
    padding-top: 7.5px;
    border-radius: 100%;
    color: orange;
    margin-left: 38%;
}

.ri-shield-fill {
    margin-top: -10px;
    margin-left: 2.5px;
}

.ri-money-dollar-circle-fill {
    margin-left: 2.3px;
}

.ri-shield-fill,
.ri-vip-fill,
.ri-money-dollar-circle-fill {
    font-size: 35px;
}

.ri-send-plane-fill {
    font-size: 25px;
}

.basliqxidmet {
    margin-left: -40px;
    width: 123.8px;
    margin-top: 28px;
}

.textxidmet {
    width: 270px;
    margin-left: -110px;
}

.servicesboxs {
    display: flex;
    gap: 55px;
    margin-left: 17%;
    height: 300px;
}

.basliqmusteri {
    margin-left: -75px;
    width: 200px;
    margin-top: 30px;
}

.foot {
    background-color: #eaeaea;
    width: 102.5%;
    height: 330px;
    border: none;
    padding-top: 25px;
    display: flex;
    gap: 65px;
    margin-left: -10px;
    padding-left: 17%;
}

span {
    color: orange;
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
}

.textfoot {
    width: 440px;
    font-size: 21px;
}

.footsira {
    margin-top: 66px;
    margin-left: -35px;
}

.footbasliq {
    margin-left: 65%;
    font-size: 28px;
}

.textfoot1 {
    width: 270px;
    margin-top: 23px;
    font-size: 23px;
}

.inputfoot {
    height: 40px;
    width: 260px;
    border: 4px solid orange;
    border-radius: 15px;
    outline: none;
    color: black;
    padding-left: 15px;
}

.footbtn {
    color: white;
    background-color: orange;
    border: none;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-left: 10px;
}

.ri-arrow-right-up-line {
    font-size: 34px;
    margin-left: 3px;
    margin-top: -2px;
}

.theend {
    border: none;
    width: 100%;
    height: 108px;
    padding-top: 20px;
    display: flex;
    gap: 35px;
    margin-left: -10px;
}

.endtext {
    margin-left: 17%;
    font-size: 22px;
}

.facebook {
    margin-left: 45%;
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.instagram {
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.gorsel2 {
    border: 2.5px solid orange;
    background-color: white;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
    bottom: 59px;
    left: 48%;
    border-radius: 50%;
}

.ri-vip-fill {
    margin-left: 2.5px;
}

.gorsel3 {
    border: 2.5px solid orange;
    background-color: white;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
    bottom: 78px;
    left: 42%;
    border-radius: 50%;
}

a:hover {
    color: orange;
    transition: 0.7s;
}

.ri-sun-line {
    color: orange;
    font-size: 20px;
}

.div2 {
    margin-top: -30px;
    margin-left: -10px;
    width: 2200px;
}

.searcebtn,
.facebook,
.instagram,
.services1 {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.searcebtn:hover,
.facebook:hover,
.instagram:hover,
.services1:hover {
    transform: rotate(360deg);
}

.texthidden {
    border: none;
    width: 100px;
    margin-top: -15px;
    padding-left: 25px;
    color: white;
    background-color: orange;
    height: 20px;
    margin-left: 76.5%;
    position: relative;
    z-index: 1;
    padding-top: -10px;
    top: 31px;
    font-weight: 900;
    display: none;
}

.ri-corner-right-up-fill {
    margin-left: 78.2%;
    position: relative;
    top: 38px;
    font-size: 26px;
    color: orange;
    font-weight: 900;
    display: none;
}

.playerbtn:hover {
    background-color: orange;
    color: white;
}

.playerbtn:hover .ri-shopping-basket-fill {
    color: white;
}

.balancebtn:hover {
    background-color: orange;
    color: white;
}

.balancebtn:hover .ri-add-line {
    color: white;
}

.services1:hover {
    position: relative;
    top: -15px;
}

.playerbtn,
.balancebtn,
.gamename {
    transition: transform 0.5s ease;
}

.playerbtn:hover,
.balancebtn:hover,
.gamename:hover {
    transform: rotate(360deg);
}

.balans:hover,
.bank:hover {
    position: relative;
    top: -15px;
}

.ri-shopping-cart-fill,
.ri-bank-line,
.ri-question-line {
    color: white;
    font-size: 30px;
    margin-left: 22px;
    margin-top: 14px;
}

.hiddensearce {
    position: absolute;
    z-index: 2;
    background-color: palegoldenrod;
    color: black;
    min-height: 60px;
    max-height: 170px;
    width: 269px;
    left: 48.5%;
    border-radius: 15px;
    top: 178px;
    display: block;
    overflow: auto;
    display: none;
    margin-left: -45px;
}

.question {
    background-color: #f5f5f5;
    width: 1519px;
    min-height: 300px;
    max-height: 620px;
    margin-left: 17.2%;
    margin-top: 35px;
    border-radius: 10px;
    padding-top: 10px;
}

.questionboxs {
    background-color: white;
    width: 1460px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

input {
    box-shadow: 10px 5px 5px orange;
}

.problems,
.problems1,
.problems2 {
    padding-left: 15px;
    padding-top: 25px;
    background-color: white;
    display: flex;
}

.questiontext {
    font-size: 19px;
    margin-left: 20px;
    margin-top: -4px;
}

.problems:hover,
.problems1:hover,
.problems2:hover {
    background-color: #f5f5f5;
    padding-left: 35px;
    transition: 0.5s;
}

.answer,
.answer1,
.answer2 {
    padding-left: 15px;
    padding-top: 25px;
    background-color: white;
    margin-top: -15px;
    display: none;
}

.abunemesaage {
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 500;
    color: green;
    display: none;
    font-size: 22px;
}

.ri-list-check {
    font-size: 25px;
    display: none;
}

.ri-user-line {
    font-size: 25px;
    display: none;
}

.gamename1 {
    display: none;
}

.hiddenbalance {
    display: none;
}

.hiddenlist {
    display: none;
}

.ri-menu-5-fill {
    display: none;
}


@media screen and (min-width: 300px) and (max-width: 600px) {

    /* header hisesi ///////// */
    
    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        display: flex;
        gap: 20px;
        background-color: #f5f5f5;
        height: 35px;
        padding-top: 27px;
        width: 106%;
        margin-top: -10px;
    }

    .ri-menu-5-fill {
        margin-top: -23px;
        margin-left: 13px;
        font-size: 20px;
        display: block;
    }

    .userline {
        margin-left: 80px;
    }

    .hiddenlist {
        background-color: bisque;
        position: absolute;
        z-index: 2;
        margin-top: -85px;
        margin-left: -7px;
    }

    .gamename1 {
        display: block;
        color: orange;
        font-size: 21px;
        margin-left: 15%;
        margin-top: -25px;
        width: 120px;
    }

    .ri-user-line {
        display: block;
        margin-left: 25%;
        font-size: 20px;
        margin-top: -22px;
    }

    .button {
        display: none;
    }

    .news,
    .accounts {
        display: none;
    }

    .mood {
        margin-left: -95px;
        margin-top: -21px;
    }

    .backmood {
        width: 40px;
        height: 20px;
        padding-top: -5px;
    }

    .ri-moon-fill {
        font-size: 10px;
        margin-left: -4px;
    }

    .ri-sun-line {
        font-size: 13px;
        font-weight: 900;
    }

    .hiddenbalance {
        display: block;
        margin-left: -3px;
        margin-top: 15px;
    }

    .balancebtn1 {
        display: block;
        width: 70px;
        font-size: 11px;
        height: 30px;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        box-shadow: none;
    }

    .playerbtn {
        box-shadow: none;
        width: 70px;
        height: 30px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        font-size: 11px;
        padding-top: -20px;
        margin-top: 1px;
    }

    .ri-shopping-basket-fill {
        display: none;
    }

    .ri-add-line {
        display: none;
    }

    .gamename {
        display: none;
    }

    .searce {
        width: 100px;
        height: 30px;
        margin-top: -70px;
        margin-left: 100px;
    }

    .searcebtn {
        display: none;
    }

    .ri-search-line {
        font-size: 10px;
        margin-left: -5px;
    }

    .playerbtn {
        display: block;
    }

    .player {
        margin-left: 10%;
        margin-top: -70px;
    }

    .balancebtn {
        display: none;
    }

    .main {
        display: none;
    }

    .hiddensearce {
        width: 115px;
        margin-top: -93px;
        margin-left: -50px;
    }

    .ri-corner-right-up-fill {
        margin-left: 3px;
    }

    .texthidden {
        font-size: 12px;
        margin-left: 225px;
        width: 60px;
    }

    .texthidden p {
        margin-left: -18px;
    }

    .hiddenlist {
        width: 150px;
    }

    .hiddensearce ul li {
        font-size: 13px;
        margin-left: -12px;
    }

    .hiddensearce ul {
        margin-top: 3px;
    }

    /* main hisesi */

    .freehome {
        width: 90%;
        height: 110px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .div2 {
        width: 102.5%;
    }

    .cards {
        margin-top: 5px;
        margin-left: -25px;
        width: 102.5%;
        display: flex;
        gap: 10%;
    }

    .bank {
        width: 85%;
        height: 70px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .balans {
        width: 85%;
        height: 70px;
        margin-top: 10px;
    }

    .gorsel1 {
        margin-top: -75px;
        width: 15px;
        height: 15px;
        margin-left: -15px;
    }

    .gorsel2 {
        width: 15px;
        height: 15px;
        margin-top: 4.5px;
        margin-left: 5px;
    }

    .gorsel3 {
        width: 15px;
        height: 15px;
        margin-left: 70px;
        margin-top: 4px;
    }

    .sell {
        margin-top: 30px;
        width: 106%;
    }

    .gamessell {
        margin-left: -10px;
        width: 102.5%;
        height: 35px;
    }

    .ri-shopping-cart-fill {
        font-size: 20px;
        margin-top: 5px;
    }

    .play {
        font-size: 17px;
        margin-left: -10px;
        margin-top: 5px;
    }

    /* ---------------------------------------------------------------------------- */

    .pubgfoto,
    .spotifyfoto,
    .netflixfoto,
    .calldutyfoto,
    .netflixfoto,
    .freefrifoto,
    .tiktokfoto,
    .valorantfoto,
    .efutbollfoto,
    .pointblankfoto {
        width: 120px;
        height: 60px;
    }

    .tiktokfoto {
        margin-top: -8px;
    }

    .efutboll {
        margin-top: 170px;
        margin-left: -335px;
        width: 128px;
        height: 70px;
    }

    .mobilefoto {
        width: 128px;
        height: 70px;
        margin-left: 7px;
    }

    .spotifyfoto {
        margin-left: -7px;
        margin-top: -7px;
    }

    .spotify {
        width: 128px;
        height: 70px;
        margin-top: 100px;
        margin-left: -30px;
    }

    .netflix1 {
        width: 128px;
        height: 70px;
        margin-top: 100px;
        margin-left: -330px;
    }

    .netflix {
        width: 128px;
        height: 70px;
        margin-left: -185px;
    }

    .pointblank {
        width: 128px;
        height: 70px;
        margin-left: 20px;
    }

    .callduty {
        width: 128px;
        height: 70px;
        margin-left: -30px;
        margin-top: -70px;
    }

    .valorant {
        width: 128px;
        height: 70px;
        margin-top: 90px;
        margin-left: -30px;
    }

    .freefoto {
        width: 128px;
        height: 70px;
        margin-left: -30px;
    }

    .tictocfoto {
        width: 128px;
        height: 70px;
        margin-left: -335px;
        margin-top: 90px;
    }

    .gamesfoto1 {
        margin-left: -10px;
    }

    /* xeberler hisesi */

    .gamessell1 {
        margin-left: -5px;
        width: 106%;
        height: 30px;
        margin-top: -95px;
    }

    .ri-newspaper-fill {
        font-size: 20px;
        margin-top: 5px;
    }

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 130px;
        height: 140px;
    }

    #services2 {
        margin-left: 15px;
        margin-top: 10px;
    }

    #services3 {
        margin-left: -35px;
        margin-top: 10px;
    }

    #services4 {
        margin-left: -333px;
        margin-top: 170px;
    }

    #services5 {
        margin-top: 173px;
        margin-left: -35px;
    }

    #jeticon1 {
        width: 40px;
        height: 40px;
        margin-top: -20px;
    }

    .ri-arrow-right-up-line,
    .ri-vip-fill,
    .ri-shield-fill,
    .ri-money-dollar-circle-fill {
        font-size: 26px;
    }

    .ri-money-dollar-circle-fill {
        margin-top: -20px;
    }

    #basliqxitmet1 {
        font-size: 15px;
        margin-top: 10px;
        margin-left: -30px;
        width: 112px;
    }

    #basliqxitmet2 {
        font-size: 12px;
        margin-left: -50px;
        margin-top: 15px;
        width: 121px;
    }

    #textxidmet1 {
        font-size: 13px;
        margin-left: -51px;
        margin-top: -7px;
        width: 132px;
    }

    #textxidmet2 {
        font-size: 12px;
        margin-left: -51px;
        margin-top: -7px;
        width: 139px;
    }

    .servicesboxs {
        margin-left: -10px;
        width: 106%;
    }

    /* fotterhisesi */

    .elvingame {
        margin-left: -35px;
    }

    .foot {
        margin-top: 40px;
        width: 106%;
        height: 1150px;
        display: block;
    }

    .gamestore {
        font-size: 31px;
    }

    .textfoot {
        width: 289px;
        font-size: 21px;
    }

    .footbasliq {
        margin-left: 65px;
        font-size: 29px;
    }

    .footlist {
        font-size: 20px;
        margin-left: -10px;
    }

    .footsira {
        font-size: 20px;
        margin-left: -7px;
        font-weight: 900;
    }

    #footbolmeler {
        margin-top: -40px;
    }

    #foots {
        font-size: 20px;
    }

    .footabune {
        font-size: 30px;
        margin-left: 55px;
    }

    .textfoot1 {
        font-size: 25px;
    }

    .inputfoot {
        height: 40px;
        width: 270px;
        font-size: 17px;
    }

    .footbtn {
        margin-top: 20px;
    }

    .abunemesaage {
        margin-top: 20px;
        font-size: 17px;
    }

    .theend {
        width: 106%;
        display: block;
    }

    .facebook,
    .instagram {
        width: 30px;
        height: 30px;
    }

    .facebook {
        margin-left: 10px;
    }

    .instagram {
        margin-left: 20px;
    }

    .endtext {
        font-size: 17px;
        margin-left: 10px;
    }
}

/* *{
    outline: 1px solid red
} */


@media screen and (min-width: 450px) and (max-width: 600px) {

    /* header hisses */

    .gamename1 {
        margin-left: 85%;
    }

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        width: 106%;
    }

    .ri-user-line {
        margin-left: 230px;
    }

    .userline {
        margin-left: 3%;
    }

    .hiddenbalance {
        display: block;
        margin-left: -3px;
        margin-top: 15px;
    }

    .balancebtn1 {
        display: block;
        width: 65px;
        font-size: 12px;
        padding-left: 5px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
    }

    .ri-add-line {
        display: none;
    }

    .searce {
        margin-left: 160px;
    }

    .player {
        margin-left: 110px;
    }

    .hiddensearce {
        margin-left: -62px;
    }

    .texthidden {
        margin-left: 365px;
    }

    /* mainhisesi */

    .freehome {
        width: 80%;
    }

    .gorsel2 {
        margin-left: -20px;
    }

    .gorsel3 {
        margin-left: 53px;
    }

    /* duzelis hisesi */

    .valorant {
        margin-left: 125px;
        margin-top: 10px;
    }

    .callduty {
        margin-top: -150px;
    }

    .efutboll {
        margin-left: -180px;
        margin-top: 90px;
    }

    .netflix {
        margin-top: 10px;
    }

    .freefoto {
        margin-top: 90px;
    }

    .spotify {
        margin-left: 125px;
        margin-top: 10px;
    }

    /* xeberlerhisesi */

    .sell {
        height: 400px;
    }

    .play {
        font-size: 20px;
    }

    #services3 {
        margin-left: 10px;
    }

    #services2 {
        margin-left: 30px;
    }

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 180px;
        height: 140px;
    }

    #services4 {
        margin-left: -480px;
    }

    #services5 {
        margin-left: 10px;
    }

    /* footer hisesi */

    .textfoot {
        width: 400px;
    }

    .textfoot1 {
        width: 400px;
    }

    .foot {
        height: 1000px;
    }
}

@media screen and (min-width: 601px) and (max-width: 991px) {

    /* header hissesi */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        display: flex;
        gap: 20px;
        background-color: #f5f5f5;
        height: 45px;
        padding-top: 27px;
        width: 103%;
        margin-top: -10px;
    }

    .ri-menu-5-fill {
        margin-top: -23px;
        margin-left: 13px;
        font-size: 26px;
        display: block;
    }

    .userline {
        margin-left: 310px;
    }

    .gamename1 {
        display: block;
        color: orange;
        font-size: 30px;
        margin-left: 70%;
        margin-top: -25px;
        width: 170px;
    }

    .ri-user-line {
        display: block;
        margin-left: 25%;
        font-size: 25px;
        margin-top: -22px;
    }

    .button {
        display: none;
    }

    .news,
    .accounts {
        display: none;
    }

    .mood {
        margin-left: -95px;
        margin-top: -21px;
    }

    .backmood {
        width: 45px;
        height: 30px;
        padding-top: -5px;
        margin-left: -70px;
    }

    .ri-moon-fill {
        font-size: 13px;
        margin-left: -4px;
    }

    .ri-sun-line {
        font-size: 15px;
        font-weight: 900;
    }

    .hiddenbalance {
        display: block;
        margin-left: -3px;
        margin-top: 15px;
    }

    .balancebtn1 {
        display: block;
        width: 130px;
        font-size: 15px;
        height: 40px;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        box-shadow: none;
    }

    .playerbtn {
        box-shadow: none;
        width: 130px;
        height: 40px;
        background-color: orange;
        color: white;
        border: 3px solid orange;
        font-size: 15px;
        padding-top: -20px;
        margin-top: -10px;
        margin-left: 20px;
    }

    .ri-shopping-basket-fill {
        display: none;
    }

    .ri-add-line {
        display: none;
    }

    .gamename {
        display: none;
    }

    .searce {
        width: 173px;
        height: 40px;
        margin-top: -80px;
        margin-left: 220px;
    }

    .searcebtn {
        display: none;
    }

    .ri-search-line {
        font-size: 10px;
        margin-left: -5px;
    }

    .playerbtn {
        display: block;
    }

    .player {
        margin-left: 10%;
        margin-top: -70px;
    }

    .balancebtn {
        display: none;
    }

    .main {
        display: none;
    }

    .hiddensearce {
        width: 165px;
        margin-top: -75px;
        margin-left: -75px;
    }

    .ri-corner-right-up-fill {
        margin-left: 3px;
    }

    .texthidden {
        font-size: 12px;
        margin-left: 480px;
        width: 60px;
    }

    .texthidden p {
        margin-left: -18px;
    }

    .hiddenlist {
        width: 150px;
        position: absolute;
        z-index: 1;
        background-color: bisque;
        margin-top: -95px;
        margin-left: -7px;
    }

    .hiddensearce ul li {
        font-size: 13px;
        margin-left: -12px;
    }

    .hiddensearce ul {
        margin-top: 3px;
    }

    /* mainhisesi */

    .freehome {
        width: 90%;
        height: 170px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .div2 {
        width: 102.5%;
    }

    .cards {
        margin-top: 5px;
        margin-left: -25px;
        width: 102.5%;
        display: flex;
        gap: 10%;
    }

    .bank {
        width: 80%;
        height: 90px;
        margin-left: 70px;
        margin-top: 10px;
    }

    .balans {
        width: 60%;
        height: 90px;
        margin-top: 10px;
        margin-left: 100px;
    }

    .gorsel1 {
        margin-top: -100px;
        width: 15px;
        height: 15px;
        margin-left: -15px;
    }

    .gorsel2 {
        width: 15px;
        height: 15px;
        margin-top: 4.5px;
        margin-left: -35px;
    }

    .gorsel3 {
        width: 15px;
        height: 15px;
        margin-left: 65px;
        margin-top: 4px;
    }

    .sell {
        margin-top: 60px;
        width: 102.5%;
        height: 500px;
    }

    .gamessell {
        margin-left: 5px;
        width: 99%;
        height: 35px;
    }

    .ri-shopping-cart-fill {
        font-size: 20px;
        margin-top: 5px;
    }

    .play {
        font-size: 17px;
        margin-left: -10px;
        margin-top: 5px;
    }

        /* oyunlar */ /* ---------------------------------------------------------------------------- */

    .pubgfoto,
    .spotifyfoto,
    .netflixfoto,
    .calldutyfoto,
    .netflixfoto,
    .freefrifoto,
    .tiktokfoto,
    .valorantfoto,
    .efutbollfoto,
    .pointblankfoto {
        width: 138px;
        height: 80px;
    }

    .tiktokfoto {
        margin-top: -8px;
    }

    .efutboll {
        margin-top: 130px;
        margin-left: -400px;
        width: 147px;
        height: 90px;
    }

    .mobilefoto {
        width: 147px;
        height: 90px;
        margin-left: 15px;
    }

    .spotifyfoto {
        margin-left: -7px;
        margin-top: -7px;
    }

    .spotify {
        width: 147px;
        height: 90px;
        margin-top: 130px;
        margin-left: -205px;
    }

    .netflix1 {
        width: 147px;
        height: 90px;
        margin-top: 25px;
        margin-left: -613px;
    }

    .netflix {
        width: 147px;
        height: 90px;
        margin-left: -6px;
        margin-top: 20px;
    }

    .pointblank {
        width: 147px;
        height: 90px;
        margin-left: 23px;
        margin-top: -88px;
    }

    .callduty {
        width: 147px;
        height: 90px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .valorant {
        width: 147px;
        height: 90px;
        margin-top: 130px;
        margin-left: -200px;
    }

    .freefoto {
        width: 147px;
        height: 90px;
        margin-left: 1px;
        margin-top: 12px;
    }

    .tictocfoto {
        width: 147px;
        height: 90px;
        margin-left: -1px;
        margin-top: 12px;
    }

    .gamesfoto1 {
        margin-left: -10px;
    }

    /* xeberler */

    .gamessell1 {
        margin-left: -5px;
        width: 102.5%;
        height: 30px;
        margin-top: -65px;
    }


    .ri-newspaper-fill {
        font-size: 20px;
        margin-top: 5px;
    }

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 150px;
        height: 140px;
    }

    #services2 {
        margin-left: 20px;
        margin-top: 15px;
    }

    #services3 {
        margin-left: 5px;
        margin-top: 15px;
    }

    #services4 {
        margin-left: -415px;
        margin-top: 180px;
    }

    #services5 {
        margin-top: 15px;
        margin-left: 220px;
    }

    #jeticon1 {
        width: 40px;
        height: 40px;
        margin-top: -20px;
    }

    .ri-arrow-right-up-line,
    .ri-vip-fill,
    .ri-shield-fill,
    .ri-money-dollar-circle-fill {
        font-size: 26px;
    }

    .ri-money-dollar-circle-fill {
        margin-top: -20px;
    }

    #basliqxitmet1 {
        font-size: 15px;
        margin-top: 10px;
        margin-left: -30px;
        width: 112px;
    }

    #basliqxitmet2 {
        font-size: 12px;
        margin-left: -50px;
        margin-top: 15px;
        width: 121px;
    }

    #textxidmet1 {
        font-size: 13px;
        margin-left: -51px;
        margin-top: -7px;
        width: 132px;
    }

    #textxidmet2 {
        font-size: 12px;
        margin-left: -51px;
        margin-top: -7px;
        width: 139px;
    }

    .servicesboxs {
        margin-left: -10px;
        width: 102.5%;
    }

    /* foothisesi */


    .elvingame {
        margin-left: -80px;
        margin-top: -40px;
    }

    .foot {
        margin-top: 40px;
        width: 104;
        height: 700px;
        display: block;
    }

    .gamestore {
        font-size: 31px;
    }

    .textfoot {
        width: 575px;
        font-size: 22px;
    }

    .footbasliq {
        margin-left: 220px;
        font-size: 29px;
        margin-top: 70px;
    }

    .footlist {
        font-size: 20px;
        margin-left: -10px;
    }

    .footsira {
        font-size: 20px;
        margin-left: -7px;
        font-weight: 900;
    }

    #footbolmeler {
        margin-top: -160px;
        margin-left: 290px;
    }

    #foots {
        font-size: 20px;
    }

    .footabune {
        font-size: 30px;
        margin-left: 1px;
        margin-top: 80px;
    }

    .textfoot1 {
        font-size: 25px;
        width: 570px;
    }

    .inputfoot {
        height: 40px;
        width: 270px;
        font-size: 17px;
    }

    .footbtn {
        margin-top: -10px;
    }

    .abunemesaage {
        margin-top: 20px;
        font-size: 20px;
    }

    .theend {
        width: 106%;
        display: block;
        width: 100%;
    }

    .facebook,
    .instagram {
        width: 30px;
        height: 30px;
    }

    .facebook {
        margin-left: 10px;
    }

    .instagram {
        margin-left: 20px;
    }

    .endtext {
        font-size: 17px;
        margin-left: 10px;
    }


}

@media screen and (min-width: 751px) and (max-width: 991px) {

    /* .header hisesi */

    .gamename1 {
        font-size: 35px;
        width: 250px;
    }

    .userline {
        margin-left: 380px;
        margin-top: 4px;
    }

    .backmood {
        margin-left: -50px;
    }

    .searce {
        margin-left: 240px;
    }

    .playerbtn {
        margin-left: 40px;
    }

    .hiddensearce {
        margin-left: -128px;
        width: 180px;
    }

    .hiddenlist {
        margin-top: -100px;
    }

    .texthidden {
        margin-left: 550px;
    }

    /* mainhisesi */

    .tictocfoto {
        margin-left: 175px;
        margin-top: 15px;
    }

    .efutboll {
        margin-top: 15px;
    }

    .mobilefoto {
        margin-top: 11px;
    }

    .freefoto {
        margin-left: -10px;
    }

    .callduty {
        margin-top: -87px;
        margin-left: -10px;
    }

    .netflix {
        margin-top: -87px;
        margin-left: -20px;
    }

    .netflix1 {
        margin-left: -575px;
    }

    .spotify {
        margin-left: -10px;
        margin-top: 25px;
    }

    .sell {
        height: 400px;
    }

    /* xeberler */

    #services2,
    #services3,
    #services4,
    #services5 {
        width: 180px;
        height: 140px;
    }

    #textxidmet1 {
        width: 160px;
        margin-left: -60px;
    }

    #textxidmet2 {
        width: 180px;
        margin-left: -65px;
        font-size: 11px;
        margin-top: 20px;
    }

    #services4 {
        margin-left: -448px;
    }

    #services3 {
        margin-left: 90px;
    }

    #services5 {
        margin-left: 350px;
    }

    /* foothisesi */

    .servicesboxs {
        gap: 1px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1440px) {

    /* .headerhisse */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

    .began {
        width: 101.5%;
    }

    .news {
        margin-left: -25px;
    }

    .news,
    .accounts {
        font-size: 14px;
    }

    .mood {
        margin-top: -5px;
    }

    .backmood {
        width: 60px;
        height: 25px;
        margin-left: -200px;
    }

    .ri-moon-fill {
        font-size: 13px;
    }

    .ri-sun-line {
        font-size: 14px;
    }

    .button {
        margin-top: -5px;
    }

    .entry {
        width: 70px;
        height: 30px;
        margin-left: -100px;
    }

    .note {
        width: 70px;
        height: 30px;
    }

    .gamename {
        margin-left: 15px;
        margin-top: -25px;
    }

    .searce {
        width: 170px;
        height: 35px;
        margin-top: -10px;
        margin-left: 80px;
    }

    .searcebtn {
        margin-top: -5px;
        width: 23px;
        height: 23px;
        margin-left: -30px;

    }

    .ri-search-line {
        margin-left: -3px;
    }

    .playerbtn {
        width: 150px;
        height: 30px;
        font-size: 14px;
        padding-left: 40px;
        margin-left: -70px;
        margin-top: -13px;
    }

    .balancebtn {
        width: 150px;
        height: 30px;
        font-size: 14px;
        padding-left: 40px;
    }

    .games{
        margin-left: 10px;
        margin-top: 4px;
        width: 160px;
    }

    .hiddensearce{
        width: 180px;
        margin-left: -160px;
        margin-top: -20px;
    }

    .texthidden {
        margin-left: 635px;
    }

    .games ul li a, .hiddensearce ul li a{
        font-size: 15px;
    }

    .ri-corner-right-up-fill {
        margin-left: 675px;
    }

    .ri-add-line {
        font-size: 20px;
    }

    .player {
        margin-left: 200px;
        margin-top: -5px;
    }

    .category {
        width: 150px;
        font-size: 15px;
        height: 35px;
        margin-left: 20px;
    }

    .home,
    .game,
    .payy,
    .rule,
    .aboutme,
    .connection {
        font-size: 17px;
    }

    .home {
        margin-left: 50px;
    }

    /* mainhisesi */

    .div2{
        width: 100%;
    }

    .freehome{
        width: 65%;
        margin-left: 20px;
        height: 220px;
        margin-top: 70px;
    }

    .cards{
        width: 100px;
        margin-top: -290px;
        height: 100px;
    }

    .bank{
        width: 230px;
        margin-left: 20px;
        margin-top: 70px;
        height: 100px;
    }

    .balans{
        width: 230px;
        height: 100px;
        margin-top: 5px;
        margin-left: 20px;
    }

    .gorsel1{
        margin-top: 190px;
        margin-left: -100px;
    }

    .gorsel2{
        margin-left: -95px;
    }

    .gorsel3{
        margin-left: -95px;
    }

    .sell{
        width: 101%;
        height: 800px;
    }

    .gamesfoto1{
        gap: 0px;
        margin-left: 3px;
        width: 100%;
    }

    .gamessell{
        margin-left: 5px;
        width: 100%;
    }

        /* ----------------------oyunlar---------------------- */

    .mobilefoto{
        margin-left: 20px;
    }

    .valorant{
        margin-top: 200px;
        margin-left: -915px;
    }

    .efutboll{
        margin-top: 200px;
    }

    .pointblank{
        margin-left: 15px;
    }


    .callduty{
        margin-left: 55px;
    }

    .netflix{
        margin-left: 60px;
        margin-top: -150px;
    }

    .netflix1{
        margin-left: -247px;
    }

    .spotify{
        margin-top: 200px;
        margin-left: -870px;
    }

    /* xeberlerhisesi */

    .gamessell1{
        margin-left: 5px;
        width: 101%;
    }

    .new{
        margin-top: -5px;
        width: 100%;
    }

    .servicesboxs{
        gap: 0px;
    }

    #services2, #services3, #services4, #services5{
        width: 260px;
    }

    #services2{
        margin-left: -150px;
    }

    #services3{
        margin-left: 70px;
    }

    #services4{
        margin-left: 73px;
    }

    #services5{
        margin-top: 300px;
        margin-left: -925px;
    }

    #textxidmet1{
        width: 250px;
        margin-left: -95px;
    }

    #textxidmet2{
        width: 300px;
        margin-left: -95px;
    }

    /* foothisesi */

    .foot{
        margin-top: 250px;
        width: 101.4%;
        display: block;
        height: 840px;
    }

    .elvingame{
        margin-left: -130px;
        margin-top: -25px;
    }

    .gamestore{
        font-size: 32px;
    }

    .textfoot{
        width: 900px;
        font-size: 25px;
    }

    .footbasliq{
        margin-top: 100px;
        margin-left: 285px;
        font-size: 32px;
    }

    .footsira{
        margin-left: 450px;
        margin-top: -140px;
    }

    .footabune{
        margin-top: 80px;
        font-size: 32px;
        margin-left: 320px;
    }

    .textfoot1{
        font-size: 32px;
        width: 900px;
    }

    .abunemesaage{
        margin-left: 450px;
        margin-top: -40px;
    }

    .endtext{
        margin-left: 20px;
    }

    #istagramid{
        margin-left: 20px;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px) {

    /* .headerhisse */

    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }


    .button {
        margin-left: 150px;
    }

    .backmood{
        margin-left: -10px;
    }

    .searce{
        margin-left: 200px;
    }

    .player{
        margin-left: 300px;
    }

    .home, .game, .payy, .aboutme, .rule, .connection{
        margin-left: 85px;
    }

    /* mainhisesi */

    .bank, .balans{
        margin-left: 70px;
        height: 125px;
        width: 270px;

    }

    .bank{
        margin-top: 20px;
    }

    .freehome{
        width: 65%;
        height: 270px;
    }

    .sell{
        height: 650px;
    }

    .netflix{
        margin-left: 360px;
        margin-top: -325px;
    }

    .netflix1{
        margin-top: -150px;
    }

    .spotify{
        margin-left: -550px;
        margin-top: -150px;
    }

    /* xeberlerhisesi */

    #services2, #services3, #services4, #services5{
        width: 300px;
    }

    #services2{
        margin-left: -190px;
    }

    #services3{
        margin-left: 150px;
    }

    #services4{
        margin-left: 150px;
    }

    #services5{
        margin-left: -1200px;
    }

    #textxidmet1{
        width: 300px;
        margin-left: -110px;
    }
}